{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}

{% endblock %}
{% block contents %}
<div class="checkout-tabs">
    <div class="row">
        <div class="col-xl-1">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-shipping-tab" data-bs-toggle="pill" href="#v-pills-shipping"
                   role="tab" aria-controls="v-pills-shipping" aria-selected="true">
                    <i class="d-block check-nav-icon mt-3 mb-2"></i>
                    <p class="fw-bold">Оборотное водоснабжение Водоблок-2</p>
                </a>
                <a class="nav-link" id="v-pills-payment-tab" data-bs-toggle="pill" href="#v-pills-payment" role="tab"
                   aria-controls="v-pills-payment" aria-selected="false">
                    <i class="d-block check-nav-icon mt-3 mb-2"></i>
                    <p class="fw-bold">ПАУ БОВ-1 (титул 1026) / ПАУ БОВ-2 (титул 2602) </p>
                </a>
                <a class="nav-link" id="v-pills-confir-tab" data-bs-toggle="pill" href="#v-pills-confir" role="tab"
                   aria-controls="v-pills-confir" aria-selected="false">
                    <i class="d-block check-nav-icon mt-3 mb-2"></i>
                    <p class="fw-bold">УГОВ ТОО "Enertek"</p>
                </a>
            </div>
        </div>
        <div class="col-xl-6 col-sm-9">
            <div class="row">
            <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                                                        <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <h4 class="card-title">Место отбора проб</h4>
                                        <select class="form-select">
                                            <option selected>Выбрать..</option>
                                            <option value="#">На выходе с бокового фильтра 77-Z-003, 77-SN-008</option>
                                            <option value="#">Подача на градирню в районе 77-ТI-205 77-SN-007</option>
                                            <option value="#">На входе в боковой фильтр позиции 77-Z-003 77-SN-006
                                            </option>
                                            <option value="#">Выход из ёмкости 77-ТК-103 77-SN-004</option>
                                            <option value="#">Трубопровод подачи свежей воды из реки Урал (в районе
                                                клапанной сборки позиций 77-FV-203) 77-SN-001
                                            </option>
                                            <option value="#">Аналитическая точка выкид насосов Р-01А/В/С/Д</option>
                                            <option value="#">Аналитическая точка насосов Р-02А/В/С</option>
                                            <option value="#">Установка оборотного водоснабжения «Водоблок-2» с дренажей
                                                насосов Н-5,11.12
                                            </option>
                                            <option value="#">Установка АВТ напротив погружного холодильника №42
                                            </option>
                                            <option value="#">Установка оборотного водоснабжения «Водоблок-2» с дренажей
                                                насосов Н-14,15,16
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <h4 class="card-title">Контролируемая вода</h4>
                                        <select class="form-select">
                                            <option selected>Выбрать..</option>
                                            <option value="#">Оборотная</option>
                                            <option value="#">Приточная</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                </div>

            </div>
            </div>
            <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-shipping" role="tabpanel"
                             aria-labelledby="v-pills-shipping-tab">
                            <div class="mt-3">
                                <div class="row">
                                    <div class="col-xl-5">
                                        <h4 class="card-title">Контролируемые показатели</h4>
                                        <p class="card-title-desc"></p>
                                        <form class="needs-validation" novalidate>
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <p class="text-muted mb-4"><i
                                                                    class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                                                                Нефтепродукт
                                                            </p>
                                                            <div class="row">
                                                                <div class="col-5">
                                                                    <div>
                                                                        <h5>9134.39</h5>
                                                                        <p class="text-muted text-truncate mb-0">
                                                                            мг/дм³<i
                                                                                class="mdi mdi-arrow-up ms-1 text-success"></i>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-7">
                                                                    <div>
                                                                        <div id="area-sparkline-chart-1"
                                                                             class="apex-charts"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <p class="text-muted mb-4"><i
                                                                    class="bx bx-copy-alt h2 text-primary align-middle mb-0 me-3"></i>
                                                                Значение рН </p>

                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <div>
                                                                        <h5>245.44</h5>
                                                                        <p class="text-muted text-truncate mb-0">
                                                                            мг/дм³<i
                                                                                class="mdi mdi-arrow-down ms-1 text-danger"></i>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div>
                                                                        <div id="area-sparkline-chart-2"
                                                                             class="apex-charts"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <p class="text-muted mb-4"><i
                                                                    class="bx bx-copy-alt h2 text-info align-middle mb-0 me-3"></i>
                                                                Общие взвешенные твердые частицы </p>

                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <div>
                                                                        <h5>63.61</h5>
                                                                        <p class="text-muted text-truncate mb-0">
                                                                            мг/дм³<i
                                                                                class="mdi mdi-arrow-up ms-1 text-success"></i>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div>
                                                                        <div id="area-sparkline-chart-3"
                                                                             class="apex-charts"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <p class="text-muted mb-4"><i
                                                                    class="bx bx-copy-alt h2 text-info align-middle mb-0 me-3"></i>
                                                                Фосфор </p>

                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <div>
                                                                        <h5>63.61</h5>
                                                                        <p class="text-muted text-truncate mb-0">
                                                                            мг/дм³<i
                                                                                class="mdi mdi-arrow-up ms-1 text-success"></i>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div>
                                                                        <div id="area-sparkline-chart-4"
                                                                             class="apex-charts"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <p class="text-muted mb-4"><i
                                                                    class="bx bx-copy-alt h2 text-info align-middle mb-0 me-3"></i>
                                                                Щелочность общая </p>

                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <div>
                                                                        <h5>63.61</h5>
                                                                        <p class="text-muted text-truncate mb-0">
                                                                            мг/дм³<i
                                                                                class="mdi mdi-arrow-up ms-1 text-success"></i>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div>
                                                                        <div id="area-sparkline-chart-5"
                                                                             class="apex-charts"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <p class="text-muted mb-4"><i
                                                                    class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                                                                Скорость
                                                                коррозии
                                                            </p>

                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <div>
                                                                        <h5>9134.39</h5>
                                                                        <p class="text-muted text-truncate mb-0">+
                                                                            0.0012 (0.2%)
                                                                            <i
                                                                                    class="mdi mdi-arrow-up ms-1 text-success"></i>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div>
                                                                        <div id="area-sparkline-chart-6"
                                                                             class="apex-charts"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <p class="text-muted mb-4"><i
                                                                    class="bx bx-copy-alt h2 text-primary align-middle mb-0 me-3"></i>
                                                                Учтенные
                                                                и
                                                                неучтенные
                                                                потери воды </p>

                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <div>
                                                                        <h5>245.44</h5>
                                                                        <p class="text-muted text-truncate mb-0">- 4.102
                                                                            (0.1%)
                                                                            <i
                                                                                    class="mdi mdi-arrow-down ms-1 text-danger"></i>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div>
                                                                        <div id="area-sparkline-chart-7"
                                                                             class="apex-charts"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <p class="text-muted mb-4"><i
                                                                    class="bx bx-copy-alt h2 text-info align-middle mb-0 me-3"></i>
                                                                Коэффициент упаривания </p>

                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <div>
                                                                        <h5>63.61</h5>
                                                                        <p class="text-muted text-truncate mb-0">+ 1.792
                                                                            (0.1%)
                                                                            <i
                                                                                    class="mdi mdi-arrow-up ms-1 text-success"></i>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div>
                                                                        <div id="area-sparkline-chart-8"
                                                                             class="apex-charts"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <p class="text-muted mb-4"><i
                                                                    class="bx bx-copy-alt h2 text-info align-middle mb-0 me-3"></i>
                                                                Транспорт кальция </p>

                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <div>
                                                                        <h5>63.61</h5>
                                                                        <p class="text-muted text-truncate mb-0">+ 1.792
                                                                            (0.1%)
                                                                            <i
                                                                                    class="mdi mdi-arrow-up ms-1 text-success"></i>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div>
                                                                        <div id="area-sparkline-chart-9"
                                                                             class="apex-charts"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <p class="text-muted mb-4"><i
                                                                    class="bx bx-copy-alt h2 text-info align-middle mb-0 me-3"></i>
                                                                Биологическое загрязнение </p>

                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <div>
                                                                        <h5>63.61</h5>
                                                                        <p class="text-muted text-truncate mb-0">+ 1.792
                                                                            (0.1%)
                                                                            <i
                                                                                    class="mdi mdi-arrow-up ms-1 text-success"></i>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div>
                                                                        <div id="area-sparkline-chart-10"
                                                                             class="apex-charts"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                    <div class="col-xl-7">
                                        <h4 class="card-title mb-4">Рекомендации</h4>
                                        <div class="card">
                                            <div class="card-body">
                                                <p class="text-muted mb-4"><i
                                                        class="bx bx-message-alt-dots h2 text-warning align-middle mb-0 me-3"></i>
                                                    Нефтепродукт
                                                </p>
                                                <div class="col-12">
                                                    <div>
                                                        <h5>Здесь будет написана та или иная рекомендация по
                                                            контролируемым показателям</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <p class="text-muted mb-4"><i
                                                        class="bx bx-message-alt-dots h2 text-warning align-middle mb-0 me-3"></i>
                                                    Значение рН
                                                </p>
                                                <div class="col-12">
                                                    <div>
                                                        <h5>Здесь будет написана та или иная рекомендация по
                                                            контролируемым показателям</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <p class="text-muted mb-4"><i
                                                        class="bx bx-message-alt-dots h2 text-warning align-middle mb-0 me-3"></i>
                                                    Общие взвешенные твердые частицы
                                                </p>
                                                <div class="col-12">
                                                    <div>
                                                        <h5>Здесь будет написана та или иная рекомендация по
                                                            контролируемым показателям</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <p class="text-muted mb-4"><i
                                                        class="bx bx-message-alt-dots h2 text-warning align-middle mb-0 me-3"></i>
                                                    Фосфор
                                                </p>
                                                <div class="col-12">
                                                    <div>
                                                        <h5>Здесь будет написана та или иная рекомендация по
                                                            контролируемым показателям</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <p class="text-muted mb-4"><i
                                                        class="bx bx-message-alt-dots h2 text-warning align-middle mb-0 me-3"></i>
                                                    Щелочность общая
                                                </p>
                                                <div class="col-12">
                                                    <div>
                                                        <h5>Здесь будет написана та или иная рекомендация по
                                                            контролируемым показателям</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <p class="text-muted mb-4"><i
                                                        class="bx bx-message-alt-dots h2 text-warning align-middle mb-0 me-3"></i>
                                                    Скорость коррозии
                                                </p>
                                                <div class="col-12">
                                                    <div>
                                                        <h5>Здесь будет написана та или иная рекомендация по
                                                            контролируемым показателям</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <p class="text-muted mb-4"><i
                                                        class="bx bx-message-alt-dots h2 text-warning align-middle mb-0 me-3"></i>
                                                    Учтенные и неучтенные потери воды
                                                </p>
                                                <div class="col-12">
                                                    <div>
                                                        <h5>Здесь будет написана та или иная рекомендация по
                                                            контролируемым показателям</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <p class="text-muted mb-4"><i
                                                        class="bx bx-message-alt-dots h2 text-warning align-middle mb-0 me-3"></i>
                                                    Коэффициент упаривания
                                                </p>
                                                <div class="col-12">
                                                    <div>
                                                        <h5>Здесь будет написана та или иная рекомендация по
                                                            контролируемым показателям</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <p class="text-muted mb-4"><i
                                                        class="bx bx-message-alt-dots h2 text-warning align-middle mb-0 me-3"></i>
                                                    Транспорт кальция
                                                </p>
                                                <div class="col-12">
                                                    <div>
                                                        <h5>Здесь будет написана та или иная рекомендация по
                                                            контролируемым показателям</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <p class="text-muted mb-4"><i
                                                        class="bx bx-message-alt-dots h2 text-warning align-middle mb-0 me-3"></i>
                                                    Биологическое загрязнение
                                                </p>
                                                <div class="col-12">
                                                    <div>
                                                        <h5>Здесь будет написана та или иная рекомендация по
                                                            контролируемым показателям</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
                </div>
                </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Задачи</h4>
                    <div id="task-1">
                        <div id="upcoming-task" class="pb-1 task-list">

                            <div class="card task-box" id="uptask-1">
                                <div class="card-body">
                                    <div class="dropdown float-end">
                                        <a href="#" class="dropdown-toggle arrow-none"
                                           data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item edittask-details" href="#" id="taskedit"
                                               data-id="#uptask-1" data-bs-toggle="modal"
                                               data-bs-target=".bs-example-modal-lg">Редактировать</a>
                                            <a class="dropdown-item deletetask" href="#"
                                               data-id="#uptask-1">Удалить</a>
                                        </div>
                                    </div> <!-- end dropdown -->
                                    <div class="float-end ms-2">
                                        <span class="badge rounded-pill badge-soft-secondary font-size-12"
                                              id="task-status">Waiting</span>
                                    </div>
                                    <div>
                                        <h5 class="font-size-15"><a href="javascript: void(0);"
                                                                    class="text-dark"
                                                                    id="task-name">Topnav layout design</a>
                                        </h5>
                                        <p class="text-muted mb-4">14 Oct, 2019</p>
                                    </div>
                                    <div class="avatar-group float-start task-assigne">
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block"
                                               value="member-4">
                                                <img src="{% static 'images/users/avatar-4.jpg'%}" alt=""
                                                     class="rounded-circle avatar-xs">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block"
                                               value="member-5">
                                                <img src="{% static 'images/users/avatar-5.jpg'%}" alt=""
                                                     class="rounded-circle avatar-xs">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block"
                                               value="member-6">
                                                <img src="{% static 'images/users/avatar-2.jpg'%}" alt=""
                                                     class="rounded-circle avatar-xs">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <div class="avatar-xs">
                                                                        <span class="avatar-title rounded-circle bg-info text-white font-size-16">
                                                                            3+
                                                                        </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="text-end">
                                        <h5 class="font-size-15 mb-1" id="task-budget">$ 145</h5>
                                        <p class="mb-0 text-muted">Budget</p>
                                    </div>
                                </div>

                            </div>
                            <!-- end task card -->

                            <div class="card task-box" id="uptask-2">
                                <div class="card-body">
                                    <div class="dropdown float-end">
                                        <a href="#" class="dropdown-toggle arrow-none"
                                           data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item edittask-details" href="#" id="taskedit"
                                               data-id="#uptask-2" data-bs-toggle="modal"
                                               data-bs-target=".bs-example-modal-lg">Редактировать</a>
                                            <a class="dropdown-item deletetask" href="#"
                                               data-id="#uptask-2">Удалить</a>
                                        </div>
                                    </div> <!-- end dropdown -->
                                    <div class="float-end ms-2">
                                        <span class="badge rounded-pill badge-soft-primary font-size-12"
                                              id="task-status">Approved</span>
                                    </div>
                                    <div>
                                        <h5 class="font-size-15"><a href="javascript: void(0);"
                                                                    class="text-dark"
                                                                    id="task-name">Create a New Landing
                                            UI</a></h5>
                                        <p class="text-muted">15 Oct, 2019</p>
                                    </div>

                                    <ul class="ps-3 mb-4 text-muted" id="task-desc">
                                        <li class="py-1">Separate existence is a myth.</li>
                                        <li class="py-1">For music, sport, etc</li>
                                    </ul>

                                    <div class="avatar-group float-start task-assigne">
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block"
                                               value="member-1">
                                                <img src="{% static 'images/users/avatar-1.jpg'%}" alt=""
                                                     class="rounded-circle avatar-xs">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block"
                                               value="member-2">
                                                <img src="{% static 'images/users/avatar-2.jpg'%}" alt=""
                                                     class="rounded-circle avatar-xs">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block"
                                               value="member-5">
                                                <img src="{% static 'images/users/avatar-5.jpg'%}" alt=""
                                                     class="rounded-circle avatar-xs">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <h5 class="font-size-15 mb-1" id="task-budget">$ 112</h5>
                                        <p class="mb-0 text-muted">Budget</p>
                                    </div>
                                </div>

                            </div>
                            <!-- end task card -->

                            <div class="card task-box" id="uptask-3">
                                <div class="card-body">
                                    <div class="dropdown float-end">
                                        <a href="#" class="dropdown-toggle arrow-none"
                                           data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item edittask-details" href="#" id="taskedit"
                                               data-id="#uptask-3" data-bs-toggle="modal"
                                               data-bs-target=".bs-example-modal-lg">Редактировать</a>
                                            <a class="dropdown-item deletetask" href="#"
                                               data-id="#uptask-3">Удалить</a>
                                        </div>
                                    </div> <!-- end dropdown -->
                                    <div class="float-end ms-2">
                                        <span class="badge rounded-pill badge-soft-secondary font-size-12"
                                              id="task-status">Waiting</span>
                                    </div>
                                    <div>
                                        <h5 class="font-size-15"><a href="javascript: void(0);"
                                                                    class="text-dark"
                                                                    id="task-name">Create a Skote Logo</a>
                                        </h5>
                                        <p class="text-muted mb-4">15 Oct, 2019</p>
                                    </div>

                                    <div class="avatar-group float-start task-assigne">
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block"
                                               value="member-4">
                                                <img src="{% static 'images/users/avatar-4.jpg'%}" alt=""
                                                     class="rounded-circle avatar-xs">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block"
                                               value="member-5">
                                                <img src="{% static 'images/users/avatar-5.jpg'%}" alt=""
                                                     class="rounded-circle avatar-xs">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <div class="avatar-xs">
                                                                        <span class="avatar-title rounded-circle bg-danger text-white font-size-16">
                                                                            9+
                                                                        </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="text-end">
                                        <h5 class="font-size-15 mb-1" id="task-budget">$ 86</h5>
                                        <p class="mb-0 text-muted">Budget</p>
                                    </div>
                                </div>

                            </div>
                            <!-- end task card -->

                        </div>

                        <div class="text-center d-grid">
                            <a href="{% url 'ecommerce-cart' %}"
                               class="btn btn-primary waves-effect waves-light addtask-btn">Перейти в раздел
                                редактирования</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start">
                        <div class="me-2">
                            <h5 class="card-title mb-4">Уведомления</h5>
                        </div>
                        <div class="dropdown ms-auto">
                            <a class="text-muted font-size-16" role="button" data-bs-toggle="dropdown"
                               aria-haspopup="true">
                                <i class="mdi mdi-dots-horizontal"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                    </div>
                    <div data-simplebar class="mt-2" style="max-height: 280px;">
                        <ul class="verti-timeline list-unstyled">
                            <li class="event-list active">
                                <div class="event-timeline-dot">
                                    <i class="bx bxs-right-arrow-circle font-size-18 bx-fade-right"></i>
                                </div>
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <h5 class="font-size-14">5 Янв <i
                                                class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                                        </h5>
                                    </div>
                                    <div class="flex-grow-1">
                                        <div>
                                            Поставлена задача
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle font-size-18"></i>
                                </div>
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <h5 class="font-size-14">15 Янв <i
                                                class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                                        </h5>
                                    </div>
                                    <div class="flex-grow-1">
                                        <div>
                                            Содержание pH превысило норму
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle font-size-18"></i>
                                </div>
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <h5 class="font-size-14">23 Янв <i
                                                class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                                        </h5>
                                    </div>
                                    <div class="flex-grow-1">
                                        <div>
                                            Новый комментарий от <span
                                                class="fw-semibold">Пользователь</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle font-size-18"></i>
                                </div>
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <h5 class="font-size-14">2 Фев <i
                                                class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                                        </h5>
                                    </div>
                                    <div class="flex-grow-1">
                                        <div>
                                            Содержание сульфатов превысило норму
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle font-size-18"></i>
                                </div>
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <h5 class="font-size-14">3 Фев <i
                                                class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                                        </h5>
                                    </div>
                                    <div class="flex-grow-1">
                                        <div>
                                            Просрочен срок пробы
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="text-center mt-4"><a href="javascript: void(0);"
                                                     class="btn btn-primary waves-effect waves-light btn-sm">Подробнее
                        <i class="mdi mdi-arrow-right ms-1"></i></a></div>
                </div>
            </div>
            <!-- end card -->
        </div>
    </div>
</div>


{% endblock %}

{% block extra_javascript %}

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});



</script>


<!-- apexcharts -->
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>

<!-- crypto dash init js -->
<script src="{% static 'js/pages/crypto-dashboard.init.js'%}"></script>

<!-- Saas dashboard init -->
<script src="{% static 'js/pages/saas-dashboard.init.js'%}"></script>
{% endblock %}