{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'libs/@chenfengyuan/datepicker/dist/datepicker.min.css'%}" type="text/css"/>
{% endblock %}
{% block contents %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Таблица</h4>
                <p class="card-title-desc">Здесь вы можете просмотреть данные с таблицы, скачать их в формате excel.
                    Есть режим поиска и сортировки, а также таблица разделена на страницы.
                </p>
                <ul>
                    <div class="mb-4">
                        <form action=".">
                            <div class="input-daterange input-group" id="datepicker_excel" data-date-format="dd M, yyyy" data-date-autoclose="true" data-provide="datepicker"
                                 data-date-container='#datepicker6'>
                                <input type="date" class="form-control" name="date_from" value="{{ date_filters.from }}" placeholder="Start Date"/>
                                <input type="date" class="form-control" name="date_to" value="{{ date_filters.to  }}" placeholder="End Date"/>
                                <button type="submit">Применить</button>
                            </div>
                        </form>
                    </div>
                </ul>

                <div class="mt-3">
                    <table id="datatable-buttons" class="table text-center table-bordered dt-responsive nowrap w-100">
                        <thead>
                        <tr>
                            <th>Установка</th>
                            <th>Место отбора анализов</th>
                            <th>Контролируемая вода</th>
                            <th>Контролируемый параметр</th>
                            <th>Показатель</th>
                            <th>Задачи и рекомендации по нормализации качества воды</th>
                            <th>Ответственный и срок выполнения задачи</th>
                            <th>Исполнители</th>
                            <th>Причины невыполнения задач</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td>{{ task.plant_unit }}</td>
                            <td>{{ task.sampling_site }}</td>
                            <td>{{ task.water_type }}</td>
                            <td>{{ task.comp_title }}</td>
                            <td>{{ task.comp_value }}</td>
                            <td>{{ task.title }}</td>
                            <td>
                                {{ task.responsible.first_name }} {{ task.responsible.last_name }}
                                <br>{{ task.deadline|date:"d.m.Y, H:i" }}
                            </td>
                            <td class="px-1">
                                {% for change in task.changes.all %}
                                {% if 'изменил исполнителя' in change.text %}
                                <ul class="px-3 mb-2 text-start">
                                    <li>{{ change.changed_to }}<br>{{ change.updated_at|date:"d.m.Y" }}</li>
                                </ul>
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td class="px-1">
                                {% for change in task.changes.all %}
                                <ul class="px-3 mb-2 text-start">
                                    <li class="hide_item">{% if change.failure_reason %}{{ change.failure_reason|truncatechars:20 }}{% endif %}</li>
                                </ul>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
{% endblock %}
{% block extra_javascript %}
<!-- apexcharts -->
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>
<!-- crypto dash init js -->
<script src="{% static 'js/pages/crypto-dashboard.init.js'%}"></script>
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Календарь examples -->
<script src="{% static 'libs/select2/dist/js/select2.min.js'%}"></script>
<script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'%}"></script>
<script src="{% static 'libs/spectrum-colorpicker2/dist/spectrum.min.js'%}"></script>
<script src="{% static 'libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js'%}"></script>
<script src="{% static 'libs/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js'%}"></script>
<script src="{% static 'libs/bootstrap-maxlength/dist/bootstrap-maxlength.min.js'%}"></script>
<script src="{% static 'libs/@chenfengyuan/datepicker/dist/datepicker.min.js'%}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js' %}"></script>
<script>$('.hide_item:empty').parent().hide()</script>
{% endblock %}