{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
<!-- Select-->
<link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
<!-- Sweet Alert-->
<link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block contents %}
<div class="row">
    <div class="col-xl-6">
        <div class="checkout-tabs">
            <div class="row">
                <!-- Установки -->
                <div class="col-xl-2 col-sm-3">
                    {% for plant_unit in plant_units %}
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link" id="{{ plant_unit.id }}" data-bs-toggle="pill" href="#location1"
                           role="tab" onclick="analysisCreate(this.id)">
                            <p class="fw-bold mt-3">{{ plant_unit.title }}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>

                <!-- Форма -->
                <div class="col-xl-7 col-sm-9 p-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active location_form" id="location1" role="tabpanel" aria-labelledby="location1-tab">
                                    <div class="row">
                                        <div class="col-lg-12 mb-3">
                                            <h4 class="card-title">Данные по работе системы:</h4>
                                                <form class="needs-validation" novalidate action="{% url 'projects-projectslist' %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" id="uid" name="uid" value="1">
                                                    {% for field in form %}
                                                        <div class="row" >
                                                            <div class="col-lg-6 "><b>{{ field.label }}</b></div>
                                                            <div class="col-lg-6">
                                                                <div class="input-group ">
                                                                    {{ field }}
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">ед.</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                <button type="submit" class="btn btn-primary waves-effect waves-light" id="#">Отправить
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% include 'partials/illustration2.html' %}
</div>
{% endblock %}

{% block extra_javascript %}
<!-- select -->
<script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'js/pages/ecommerce-select2.init.js' %}"></script>
<!-- validation -->
<script src="{% static 'libs/parsleyjs/dist/parsley.min.js' %}"></script>
<script src="{% static 'js/pages/form-validation.init.js' %}"></script>
<!-- Sweet Alerts -->
<script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>
<script src="{% static 'js/pages/sweet-alerts.init.js' %}"></script>
<script>
    function analysisCreate(event) {
        console.log('ID is: ', event);
        $('.location_form').attr('id', `location${event}`);
        $('#uid').attr('value', event);
        $.ajax({
            type: 'GET',
            data: {
                'unit_id': event
            }
        });
    }
    (function() {
        'use strict'
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        let forms = document.querySelectorAll('.needs-validation')
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %}