{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
<style>
    .hidden {
  display: none;
}

</style>
<!-- Select-->
<link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
<!-- Sweet Alert-->
<link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}


{% block contents %}
<div class="row">
    <div class="col-xl-6">
        <div class="checkout-tabs">
            <div class="row">
                <div class="col-xl-2 col-sm-3 mb-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="location1-tab" data-bs-toggle="pill"
                           href="#location1"
                           role="tab" aria-controls="location1" aria-selected="true">
                            <p class="fw-bold mt-3">Водоблок-2</p>
                        </a>
                        <a class="nav-link" id="location2-tab" data-bs-toggle="pill" href="#location2"
                           role="tab"
                           aria-controls="location2" aria-selected="false">
                            <p class="fw-bold mt-3">БОВ-1/БОВ-2</p>
                        </a>
                        <a class="nav-link" id="location3-tab" data-bs-toggle="pill" href="#location3"
                           role="tab"
                           aria-controls="location3" aria-selected="false">
                            <p class="fw-bold mt-3">УГОВ</p>
                        </a>
                    </div>
                </div>
                <div class="col-xl-10 col-sm-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content" id="v-pills-tabContent">


                                <div class="tab-pane fade show active" id="location1" role="tabpanel"
                                     aria-labelledby="location1-tab">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <h4 class="card-title">Место отбора проб</h4>
                                                <select class="form-select" id="sel1">
                                                    <option selected>Выбрать..</option>
                                                    <option>Установка оборотного водоснабжения «Водоблок-2» с дренажей
                                                        насосов Н-14,15,16
                                                    </option>
                                                    <option>Установка АВТ напротив погружного холодильника №42
                                                    </option>
                                                    <option>Установка оборотного водоснабжения «Водоблок-2» с дренажей
                                                        насосов Н-5,11.12
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <h4 class="card-title">Контролируемая вода</h4>
                                                <select class="form-select">
                                                    <option selected>Выбрать..</option>
                                                    <option value="#">Оборотная</option>
                                                    <option value="#">Приточная</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="div1"></div>
                                    <div id="div2" class="card-body hideable">
                                        <h4 class="card-title">Контролируемые показатели</h4>
                                        <p class="card-title-desc"></p>
                                        <form class="needs-validation" novalidate>
                                            <div class="row">
                                                {% for el in get_component11%}
                                                <div class="mb-3">
                                                    <label class="form-label">{{el.title_component}}</label>
                                                    <div class="input-group">
                                                        <input data-parsley-type="number" type="text"
                                                               class="form-control"
                                                               required
                                                               placeholder="Введите.."/>
                                                        <div class="input-group-prepend">
                                                        <span class="input-group-text"
                                                              id="#">{{el.title1}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div>
                                                <button type="submit"
                                                        class="btn btn-primary waves-effect waves-light"
                                                        id="sa-custom">Отправить
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="div3" class="card-body hideable">
                                        <h4 class="card-title">Контролируемые показатели</h4>
                                        <p class="card-title-desc"></p>
                                        <form class="needs-validation" novalidate>
                                            <div class="row">
                                                {% for el in get_component12%}
                                                <div class="mb-3">
                                                    <label class="form-label">{{el.title_component}}</label>
                                                    <div class="input-group">
                                                        <input data-parsley-type="number" type="text"
                                                               class="form-control"
                                                               required
                                                               placeholder="Введите.."/>
                                                        <div class="input-group-prepend">
                                                        <span class="input-group-text"
                                                              id="#">{{el.title1}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div>
                                                <button type="submit"
                                                        class="btn btn-primary waves-effect waves-light"
                                                        id="sa-custom">Отправить
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="div4" class="card-body hideable">
                                        <h4 class="card-title">Контролируемые показатели</h4>
                                        <p class="card-title-desc"></p>
                                        <form class="needs-validation" novalidate>
                                            <div class="row">
                                                {% for el in get_component13%}
                                                <div class="mb-3">
                                                    <label class="form-label">{{el.title_component}}</label>
                                                    <div class="input-group">
                                                        <input data-parsley-type="number" type="text"
                                                               class="form-control"
                                                               required
                                                               placeholder="Введите.."/>
                                                        <div class="input-group-prepend">
                                                        <span class="input-group-text"
                                                              id="#">{{el.title1}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div>
                                                <button type="submit"
                                                        class="btn btn-primary waves-effect waves-light"
                                                        id="sa-custom">Отправить
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="location2" role="tabpanel"
                                     aria-labelledby="location2-tab">

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <h4 class="card-title">Контролируемая вода</h4>
                                                <select class="form-select">
                                                    <option selected>Выбрать..</option>
                                                    <option value="#">Оборотная</option>
                                                    <option value="#">Приточная</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <h4 class="card-title">Место отбора проб</h4>
                                                <select class="form-select" id="sel2">
                                                    <option selected>Выбрать..</option>
                                                    <option>Аналитическая точка выкид насосов Р-01А/В/С/Д
                                                    </option>
                                                    <option>Аналитическая точка насосов Р-02А/В/С</option>
                                                    <option>Аналитическая точка насосов Р-01А/В/С/Д</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="divv1"></div>
                                    <div id="divv2" class="card-body hideable">
                                        <h4 class="card-title">Контролируемые показатели</h4>
                                        <p class="card-title-desc"></p>
                                        <form class="needs-validation" novalidate>
                                            <div class="row">
                                                {% for el in get_component21%}
                                                <div class="mb-3">
                                                    <label class="form-label">{{el.title_component}}</label>
                                                    <div class="input-group">
                                                        <input data-parsley-type="number" type="text"
                                                               class="form-control"
                                                               required
                                                               placeholder="Введите.."/>
                                                        <div class="input-group-prepend">
                                                        <span class="input-group-text"
                                                              id="#">{{el.title1}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div>
                                                <button type="submit"
                                                        class="btn btn-primary waves-effect waves-light"
                                                        id="sa-custom">Отправить
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="divv3" class="card-body hideable">
                                        <h4 class="card-title">Контролируемые показатели</h4>
                                        <p class="card-title-desc"></p>
                                        <form class="needs-validation" novalidate>
                                            <div class="row">
                                                {% for el in get_component22%}
                                                <div class="mb-3">
                                                    <label class="form-label">{{el.title_component}}</label>
                                                    <div class="input-group">
                                                        <input data-parsley-type="number" type="text"
                                                               class="form-control"
                                                               required
                                                               placeholder="Введите.."/>
                                                        <div class="input-group-prepend">
                                                        <span class="input-group-text"
                                                              id="#">{{el.title1}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div>
                                                <button type="submit"
                                                        class="btn btn-primary waves-effect waves-light"
                                                        id="sa-custom">Отправить
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="divv4" class="card-body hideable">
                                        <h4 class="card-title">Контролируемые показатели</h4>
                                        <p class="card-title-desc"></p>
                                        <form class="needs-validation" novalidate>
                                            <div class="row">
                                                {% for el in get_component23%}
                                                <div class="mb-3">
                                                    <label class="form-label">{{el.title_component}}</label>
                                                    <div class="input-group">
                                                        <input data-parsley-type="number" type="text"
                                                               class="form-control"
                                                               required
                                                               placeholder="Введите.."/>
                                                        <div class="input-group-prepend">
                                                        <span class="input-group-text"
                                                              id="#">{{el.title1}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div>
                                                <button type="submit"
                                                        class="btn btn-primary waves-effect waves-light"
                                                        id="sa-custom">Отправить
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="location3" role="tabpanel"
                                     aria-labelledby="location3-tab">

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <h4 class="card-title">Контролируемая вода</h4>
                                                <select class="form-select">
                                                    <option selected>Выбрать..</option>
                                                    <option value="#">Оборотная</option>
                                                    <option value="#">Приточная</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <h4 class="card-title">Место отбора проб</h4>
                                                <select class="form-select" id="sel3">
                                                    <option selected>Выбрать..</option>
                                                    <option>Трубопровод подачи свежей воды из реки Урал (в
                                                        районе
                                                        клапанной сборки позиций 77-FV-203) 77-SN-001
                                                    </option>
                                                    <option>Выход из ёмкости 77-ТК-103 77-SN-004</option>
                                                    <option>На входе в боковой фильтр позиции 77-Z-003
                                                        77-SN-006
                                                    </option>
                                                    <option>Подача на градирню в районе 77-ТI-205 77-SN-007
                                                    </option>
                                                    <option>На выходе с бокового фильтра 77-Z-003, 77-SN-008
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="divvv1"></div>
                                    <div id="divvv2" class="card-body hideable">
                                        <h4 class="card-title">Контролируемые показатели</h4>
                                        <p class="card-title-desc"></p>
                                        <form class="needs-validation" novalidate>
                                            <div class="row">
                                                {% for el in get_component31%}
                                                <div class="mb-3">
                                                    <label class="form-label">{{el.title_component}}</label>
                                                    <div class="input-group">
                                                        <input data-parsley-type="number" type="text"
                                                               class="form-control"
                                                               required
                                                               placeholder="Введите.."/>
                                                        <div class="input-group-prepend">
                                                        <span class="input-group-text"
                                                              id="#">{{el.title1}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div>
                                                <button type="submit"
                                                        class="btn btn-primary waves-effect waves-light"
                                                        id="sa-custom">Отправить
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="divvv3" class="card-body hideable">
                                        <h4 class="card-title">Контролируемые показатели</h4>
                                        <p class="card-title-desc"></p>
                                        <form class="needs-validation" novalidate>
                                            <div class="row">
                                                {% for el in get_component32%}
                                                <div class="mb-3">
                                                    <label class="form-label">{{el.title_component}}</label>
                                                    <div class="input-group">
                                                        <input data-parsley-type="number" type="text"
                                                               class="form-control"
                                                               required
                                                               placeholder="Введите.."/>
                                                        <div class="input-group-prepend">
                                                        <span class="input-group-text"
                                                              id="#">{{el.title1}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div>
                                                <button type="submit"
                                                        class="btn btn-primary waves-effect waves-light"
                                                        id="sa-custom">Отправить
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="divvv4" class="card-body hideable">
                                        <h4 class="card-title">Контролируемые показатели</h4>
                                        <p class="card-title-desc"></p>
                                        <form class="needs-validation" novalidate>
                                            <div class="row">
                                                {% for el in get_component33%}
                                                <div class="mb-3">
                                                    <label class="form-label">{{el.title_component}}</label>
                                                    <div class="input-group">
                                                        <input data-parsley-type="number" type="text"
                                                               class="form-control"
                                                               required
                                                               placeholder="Введите.."/>
                                                        <div class="input-group-prepend">
                                                        <span class="input-group-text"
                                                              id="#">{{el.title1}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div>
                                                <button type="submit"
                                                        class="btn btn-primary waves-effect waves-light"
                                                        id="sa-custom">Отправить
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="divvv5" class="card-body hideable">
                                        <h4 class="card-title">Контролируемые показатели</h4>
                                        <p class="card-title-desc"></p>
                                        <form class="needs-validation" novalidate>
                                            <div class="row">
                                                {% for el in get_component34%}
                                                <div class="mb-3">
                                                    <label class="form-label">{{el.title_component}}</label>
                                                    <div class="input-group">
                                                        <input data-parsley-type="number" type="text"
                                                               class="form-control"
                                                               required
                                                               placeholder="Введите.."/>
                                                        <div class="input-group-prepend">
                                                        <span class="input-group-text"
                                                              id="#">{{el.title1}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div>
                                                <button type="submit"
                                                        class="btn btn-primary waves-effect waves-light"
                                                        id="sa-custom">Отправить
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="divvv6" class="card-body hideable">
                                        <h4 class="card-title">Контролируемые показатели</h4>
                                        <p class="card-title-desc"></p>
                                        <form class="needs-validation" novalidate>
                                            <div class="row">
                                                {% for el in get_component35%}
                                                <div class="mb-3">
                                                    <label class="form-label">{{el.title_component}}</label>
                                                    <div class="input-group">
                                                        <input data-parsley-type="number" type="text"
                                                               class="form-control"
                                                               required
                                                               placeholder="Введите.."/>
                                                        <div class="input-group-prepend">
                                                        <span class="input-group-text"
                                                              id="#">{{el.title1}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div>
                                                <button type="submit"
                                                        class="btn btn-primary waves-effect waves-light"
                                                        id="sa-custom">Отправить
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Задачи</h4>
                    <div id="task-1">
                        <div id="upcoming-task" class="pb-1 task-list">

                            <div class="card task-box" id="uptask-1">
                                <div class="card-body">
                                    <div class="dropdown float-end">
                                        <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item edittask-details" href="#" id="taskedit"
                                               data-id="#uptask-1" data-bs-toggle="modal"
                                               data-bs-target=".bs-example-modal-lg">Редактировать</a>
                                            <a class="dropdown-item deletetask" href="#" data-id="#uptask-1">Удалить</a>
                                        </div>
                                    </div> <!-- end dropdown -->
                                    <div class="float-end ms-2">
                                        <span class="badge rounded-pill badge-soft-secondary font-size-12"
                                              id="task-status">Waiting</span>
                                    </div>
                                    <div>
                                        <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark"
                                                                    id="task-name">Topnav layout design</a></h5>
                                        <p class="text-muted mb-4">14 Oct, 2019</p>
                                    </div>
                                    <div class="avatar-group float-start task-assigne">
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block" value="member-4">
                                                <img src="{% static 'images/users/avatar-4.jpg'%}" alt=""
                                                     class="rounded-circle avatar-xs">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block" value="member-5">
                                                <img src="{% static 'images/users/avatar-5.jpg'%}" alt=""
                                                     class="rounded-circle avatar-xs">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block" value="member-6">
                                                <img src="{% static 'images/users/avatar-2.jpg'%}" alt=""
                                                     class="rounded-circle avatar-xs">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <div class="avatar-xs">
                                                                        <span class="avatar-title rounded-circle bg-info text-white font-size-16">
                                                                            3+
                                                                        </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="text-end">
                                        <h5 class="font-size-15 mb-1" id="task-budget">$ 145</h5>
                                        <p class="mb-0 text-muted">Budget</p>
                                    </div>
                                </div>

                            </div>
                            <!-- end task card -->

                            <div class="card task-box" id="uptask-2">
                                <div class="card-body">
                                    <div class="dropdown float-end">
                                        <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item edittask-details" href="#" id="taskedit"
                                               data-id="#uptask-2" data-bs-toggle="modal"
                                               data-bs-target=".bs-example-modal-lg">Редактировать</a>
                                            <a class="dropdown-item deletetask" href="#" data-id="#uptask-2">Удалить</a>
                                        </div>
                                    </div> <!-- end dropdown -->
                                    <div class="float-end ms-2">
                                        <span class="badge rounded-pill badge-soft-primary font-size-12"
                                              id="task-status">Approved</span>
                                    </div>
                                    <div>
                                        <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark"
                                                                    id="task-name">Create a New Landing UI</a></h5>
                                        <p class="text-muted">15 Oct, 2019</p>
                                    </div>

                                    <ul class="ps-3 mb-4 text-muted" id="task-desc">
                                        <li class="py-1">Separate existence is a myth.</li>
                                        <li class="py-1">For music, sport, etc</li>
                                    </ul>

                                    <div class="avatar-group float-start task-assigne">
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block" value="member-1">
                                                <img src="{% static 'images/users/avatar-1.jpg'%}" alt=""
                                                     class="rounded-circle avatar-xs">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block" value="member-2">
                                                <img src="{% static 'images/users/avatar-2.jpg'%}" alt=""
                                                     class="rounded-circle avatar-xs">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block" value="member-5">
                                                <img src="{% static 'images/users/avatar-5.jpg'%}" alt=""
                                                     class="rounded-circle avatar-xs">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <h5 class="font-size-15 mb-1" id="task-budget">$ 112</h5>
                                        <p class="mb-0 text-muted">Budget</p>
                                    </div>
                                </div>

                            </div>
                            <!-- end task card -->

                            <div class="card task-box" id="uptask-3">
                                <div class="card-body">
                                    <div class="dropdown float-end">
                                        <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item edittask-details" href="#" id="taskedit"
                                               data-id="#uptask-3" data-bs-toggle="modal"
                                               data-bs-target=".bs-example-modal-lg">Редактировать</a>
                                            <a class="dropdown-item deletetask" href="#" data-id="#uptask-3">Удалить</a>
                                        </div>
                                    </div> <!-- end dropdown -->
                                    <div class="float-end ms-2">
                                        <span class="badge rounded-pill badge-soft-secondary font-size-12"
                                              id="task-status">Waiting</span>
                                    </div>
                                    <div>
                                        <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark"
                                                                    id="task-name">Create a Skote Logo</a></h5>
                                        <p class="text-muted mb-4">15 Oct, 2019</p>
                                    </div>

                                    <div class="avatar-group float-start task-assigne">
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block" value="member-4">
                                                <img src="{% static 'images/users/avatar-4.jpg'%}" alt=""
                                                     class="rounded-circle avatar-xs">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block" value="member-5">
                                                <img src="{% static 'images/users/avatar-5.jpg'%}" alt=""
                                                     class="rounded-circle avatar-xs">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <div class="avatar-xs">
                                                                        <span class="avatar-title rounded-circle bg-danger text-white font-size-16">
                                                                            9+
                                                                        </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="text-end">
                                        <h5 class="font-size-15 mb-1" id="task-budget">$ 86</h5>
                                        <p class="mb-0 text-muted">Budget</p>
                                    </div>
                                </div>

                            </div>
                            <!-- end task card -->

                        </div>

                        <div class="text-center d-grid">
                            <a href="{% url 'tasks-kanbanboard' %}"
                               class="btn btn-primary waves-effect waves-light addtask-btn">Перейти в раздел
                                редактирования</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start">
                        <div class="me-2">
                            <h5 class="card-title mb-4">Уведомления</h5>
                        </div>
                        <div class="dropdown ms-auto">
                            <a class="text-muted font-size-16" role="button" data-bs-toggle="dropdown"
                               aria-haspopup="true">
                                <i class="mdi mdi-dots-horizontal"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                    </div>
                    <div data-simplebar class="mt-2" style="max-height: 280px;">
                        <ul class="verti-timeline list-unstyled">
                            <li class="event-list active">
                                <div class="event-timeline-dot">
                                    <i class="bx bxs-right-arrow-circle font-size-18 bx-fade-right"></i>
                                </div>
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <h5 class="font-size-14">5 Янв <i
                                                class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                                        </h5>
                                    </div>
                                    <div class="flex-grow-1">
                                        <div>
                                            Поставлена задача
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle font-size-18"></i>
                                </div>
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <h5 class="font-size-14">15 Янв <i
                                                class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                                        </h5>
                                    </div>
                                    <div class="flex-grow-1">
                                        <div>
                                            Содержание pH превысило норму
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle font-size-18"></i>
                                </div>
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <h5 class="font-size-14">23 Янв <i
                                                class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                                        </h5>
                                    </div>
                                    <div class="flex-grow-1">
                                        <div>
                                            Новый комментарий от <span class="fw-semibold">Пользователь</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle font-size-18"></i>
                                </div>
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <h5 class="font-size-14">2 Фев <i
                                                class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                                        </h5>
                                    </div>
                                    <div class="flex-grow-1">
                                        <div>
                                            Содержание сульфатов превысило норму
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle font-size-18"></i>
                                </div>
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <h5 class="font-size-14">3 Фев <i
                                                class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                                        </h5>
                                    </div>
                                    <div class="flex-grow-1">
                                        <div>
                                            Просрочен срок пробы
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="text-center mt-4"><a href="javascript: void(0);"
                                                     class="btn btn-primary waves-effect waves-light btn-sm">Подробнее
                        <i class="mdi mdi-arrow-right ms-1"></i></a></div>
                </div>
            </div>
            <!-- end card -->
        </div>
    </div>
</div>
{% endblock %}
{% block extra_javascript %}

<script>

</script>
<!-- select -->
<script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'js/pages/ecommerce-select2.init.js' %}"></script>
<script src="{% static 'js/pages/custom.js' %}"></script>

<!-- validation -->
<script src="{% static 'libs/parsleyjs/dist/parsley.min.js' %}"></script>
<script src="{% static 'js/pages/form-validation.init.js' %}"></script>

<!-- Sweet Alerts -->
<script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>
<script src="{% static 'js/pages/sweet-alerts.init.js' %}"></script>

{% endblock %}