{% extends 'partials/base.html' %}
{% load static %}


{% block extra_css %}
{% endblock %}
{% block contents %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Пример таблицы</h4>
                <p class="card-title-desc">Здесь вы можете просмотреть данные с таблицы, скачать их в формате excel и
                    pdf. Есть режим поиска и сортировки,
                    а также таблица разделена на страницы.
                </p>
                <form class="row gy-2 gx-3 align-items-center">
                    <div class="col-lg-2">
                        <label class="visually-hidden" for="autoSizingSelect"></label>
                        <select class="form-select" id="autoSizingSelect">
                            <option selected>Выберите год...</option>
                            <option value="1">2022</option>
                            <option value="2">2021</option>
                            <option value="3">2020</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <label class="visually-hidden" for="autoSizingSelect"></label>
                        <select class="form-select" id="autoSizingSelect">
                            <option selected>Выберите месяц...</option>
                            <option value="1">Январь</option>
                            <option value="1">Февраль</option>
                            <option value="1">Март</option>
                            <option value="1">Апрель</option>
                            <option value="1">Май</option>
                            <option value="1">Июнь</option>
                            <option value="1">Июль</option>
                            <option value="1">Август</option>
                            <option value="1">Сентябрь</option>
                            <option value="1">Октябрь</option>
                            <option value="2">Ноябрь</option>
                            <option value="3">Декабрь</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
<!--                        <button id="datable1" type="submit" class="btn btn-primary w-md">Скачать Excel</button>-->
                    </div>
                </form>
                <div class="mt-3">
                    <table id="datatable-buttons" class="table text-center table-bordered dt-responsive nowrap w-100">
                        <thead>
                        <tr>
                            <th>Места отбора анализов</th>
                            <th>Контролируемая вода</th>
                            <th>Контролируемые параметры и их единицы измерения</th>
                            <th>Производные коэффициенты и метрики, полученные из анализов</th>
                            <th>Задачи и рекомендации по нормализации качества воды</th>
                            <th>Исполнители задач и сроки их выполнения</th>
                            <th>Причины невыполнения задач</th>
                            <th>Комментарии</th>
                        </tr>
                        </thead>


                        <tbody>
                        <tr>
                            <td>На выходе с бокового фильтра 77-Z-003, 77-SN-008</td>
                            <td>Оборотный</td>
                            <td>12</td>
                            <td id="area-sparkline-chart-4"
                                class="apex-charts">
                            </td>
                            <td>Задачи и рекомендации по нормализации качества воды</td>
                            <td>Исполнители задач и сроки их выполнения</td>
                            <td>Причины невыполнения задач</td>
                            <td>Комментарии</td>
                        </tr>
                        <tr>
                            <td>Подача на градирню в районе 77-ТI-205 77-SN-007</td>
                            <td>Приточный</td>
                            <td>32</td>
                            <td id="area-sparkline-chart-1"
                                class="apex-charts"></td>
                            <td>Задачи и рекомендации по нормализации качества воды</td>
                            <td>Исполнители задач и сроки их выполнения</td>
                            <td>Причины невыполнения задач</td>
                            <td>Комментарии</td>
                        </tr>
                        <tr>
                            <td>На входе в боковой фильтр позиции 77-Z-003 77-SN-006</td>
                            <td>Оборотный</td>
                            <td>46</td>
                            <td id="area-sparkline-chart-2"
                                class="apex-charts"></td>
                            <td>Задачи и рекомендации по нормализации качества воды</td>
                            <td>Исполнители задач и сроки их выполнения</td>
                            <td>Причины невыполнения задач</td>
                            <td>Комментарии</td>
                        </tr>
                        <tr>
                            <td>Выход из ёмкости 77-ТК-103 77-SN-004</td>
                            <td>Приточный</td>
                            <td>64</td>
                            <td id="area-sparkline-chart-3"
                                class="apex-charts"></td>
                            <td>Задачи и рекомендации по нормализации качества воды</td>
                            <td>Исполнители задач и сроки их выполнения</td>
                            <td>Причины невыполнения задач</td>
                            <td>Комментарии</td>
                        </tr>
                        <tr>
                            <td>Трубопровод подачи свежей воды из реки Урал (в районе клапанной сборки позиций
                                77-FV-203) 77-SN-001
                            </td>
                            <td>Оборотный</td>
                            <td>77</td>
                            <td id="area-sparkline-chart-5"
                                class="apex-charts"></td>
                            <td>Задачи и рекомендации по нормализации качества воды</td>
                            <td>Исполнители задач и сроки их выполнения</td>
                            <td>Причины невыполнения задач</td>
                            <td>Комментарии</td>
                        </tr>
                        <tr>
                            <td>Аналитическая точка выкид насосов Р-01А/В/С/Д</td>
                            <td>Приточный</td>
                            <td>98</td>
                            <td id="area-sparkline-chart-6"
                                class="apex-charts"></td>
                            <td>Задачи и рекомендации по нормализации качества воды</td>
                            <td>Исполнители задач и сроки их выполнения</td>
                            <td>Причины невыполнения задач</td>
                            <td>Комментарии</td>
                        </tr>
                        <tr>
                            <td>Аналитическая точка насосов Р-02А/В/С</td>
                            <td>Оборотный</td>
                            <td>17</td>
                            <td id="area-sparkline-chart-7"
                                class="apex-charts"></td>
                            <td>Задачи и рекомендации по нормализации качества воды</td>
                            <td>Исполнители задач и сроки их выполнения</td>
                            <td>Причины невыполнения задач</td>
                            <td>Комментарии</td>
                        </tr>
                        <tr>
                            <td>Установка оборотного водоснабжения «Водоблок-2» с дренажей насосов Н-5,11.12</td>
                            <td>Приточный</td>
                            <td>82</td>
                            <td id="area-sparkline-chart-8"
                                class="apex-charts"></td>
                            <td>Задачи и рекомендации по нормализации качества воды</td>
                            <td>Исполнители задач и сроки их выполнения</td>
                            <td>Причины невыполнения задач</td>
                            <td>Комментарии</td>
                        </tr>
                        <tr>
                            <td>Установка АВТ напротив погружного холодильника №42</td>
                            <td>Оборотный</td>
                            <td>93</td>
                            <td id="area-sparkline-chart-9"
                                class="apex-charts"></td>
                            <td>Задачи и рекомендации по нормализации качества воды</td>
                            <td>Исполнители задач и сроки их выполнения</td>
                            <td>Причины невыполнения задач</td>
                            <td>Комментарии</td>
                        </tr>
                        <tr>
                            <td>Установка оборотного водоснабжения «Водоблок-2» с дренажей насосов Н-14,15,16</td>
                            <td>Приточный</td>
                            <td>41</td>
                            <td id="area-sparkline-chart-10"
                                class="apex-charts"></td>
                            <td>Задачи и рекомендации по нормализации качества воды</td>
                            <td>Исполнители задач и сроки их выполнения</td>
                            <td>Причины невыполнения задач</td>
                            <td>Комментарии</td>
                        </tr>
                        <tr>
                            <td>На выходе с бокового фильтра 77-Z-003, 77-SN-008</td>
                            <td>Приточный</td>
                            <td>58</td>
                            <td id="area-sparkline-chart-11"
                                class="apex-charts"></td>
                            <td>Задачи и рекомендации по нормализации качества воды</td>
                            <td>Исполнители задач и сроки их выполнения</td>
                            <td>Причины невыполнения задач</td>
                            <td>Комментарии</td>
                        </tr>
                        <tr>
                            <td>Подача на градирню в районе 77-ТI-205 77-SN-007</td>
                            <td>Приточный</td>
                            <td>63</td>
                            <td id="area-sparkline-chart-12"
                                class="apex-charts"></td>
                            <td>Задачи и рекомендации по нормализации качества воды</td>
                            <td>Исполнители задач и сроки их выполнения</td>
                            <td>Причины невыполнения задач</td>
                            <td>Комментарии</td>
                        </tr>
                        <tr>
                            <td>На входе в боковой фильтр позиции 77-Z-003 77-SN-006</td>
                            <td>Оборотный</td>
                            <td>25</td>
                            <td id="area-sparkline-chart-13"
                                class="apex-charts"></td>
                            <td>Задачи и рекомендации по нормализации качества воды</td>
                            <td>Исполнители задач и сроки их выполнения</td>
                            <td>Причины невыполнения задач</td>
                            <td>Комментарии</td>
                        </tr>
                        <tr>
                            <td>Выход из ёмкости 77-ТК-103 77-SN-004</td>
                            <td>Приточный</td>
                            <td>11</td>
                            <td id="area-sparkline-chart-14"
                                class="apex-charts"></td>
                            <td>Задачи и рекомендации по нормализации качества воды</td>
                            <td>Исполнители задач и сроки их выполнения</td>
                            <td>Причины невыполнения задач</td>
                            <td>Комментарии</td>
                        </tr>
                        <tr>
                            <td>Трубопровод подачи свежей воды из реки Урал (в районе клапанной сборки позиций
                                77-FV-203) 77-SN-001
                            </td>
                            <td>Оборотный</td>
                            <td>95</td>
                            <td id="area-sparkline-chart-15"
                                class="apex-charts"></td>
                            <td>Задачи и рекомендации по нормализации качества воды</td>
                            <td>Исполнители задач и сроки их выполнения</td>
                            <td>Причины невыполнения задач</td>
                            <td>Комментарии</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

{% endblock %}

{% block extra_javascript %}
<!-- apexcharts -->
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>
<!-- crypto dash init js -->
<script src="{% static 'js/pages/crypto-dashboard.init.js'%}"></script>

<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js' %}"></script>
{% endblock %}