users_interactions.log
.idea
*pycache*
__pycache__/
db.sqlite3
.DS_Store
celerybeat-schedule.db
dump.rdb

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Installer logs
pip-log.txt
pip-delete-this-directory.txt