{% load static %} {% block extra_css %}

<!-- dragula css -->
<link href="{% static 'libs/dragula/dist/dragula.min.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="{% static 'libs/toastr/build/toastr.min.css' %}">


<link href="{% static 'libs/select2/dist/css/select2.min.css'%}" rel="stylesheet" type="text/css"/>
<link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'%}" rel="stylesheet" type="text/css">
<link href="{% static 'libs/bootstrap-timepicker/css/bootstrap-timepicker.min.css'%}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'libs/@chenfengyuan/datepicker/dist/datepicker.min.css'%}" type="text/css"/> {% endblock %} {% block contents %}

<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">В работе</h4>
                <div id="task-2">
                    <div id="inprogress-task" class="pb-1 task-list">
                        <!-- task card -->
                        {% for task in tasks %} {% if task.status_id == 2 %}
                        <div class="card task-box" id="{{ task.id }}">
                            <div class="card-body">
                                <div class="float-end ms-2">
                                    <span class="badge rounded-pill badge-soft-primary font-size-12" id="task-status">{{ task.status }}</span>
                                </div>
                                <div>
                                    <p class="fw-bold mb-2">
                                        <a href="{% url 'tasks-updatetask' task.pk %}" class="text-dark" id="task-name">
                                            {{ task.task.title }} для компонента '{{ task.comp_title }}'
                                        </a>
                                    </p>
                                    <p class="text-muted mb-2" style="line-height: 15px;">Место отбора проб: {{ task.sampling_site.title }}</p>
                                    <p class="text-muted mb-2" style="line-height: 15px;">Установка: {{ task.plant_unit.title }}</p>
                                    <p class="text-muted mb-2">Выполнить до: {{ task.deadline }}</p>
                                </div>
                                <div class="avatar-group float-start task-assigne">
                                    <div class="avatar-group-item">
                                        <a href="javascript: void(0);" class="d-inline-block" value="member-1">
                                            <img src="{% static 'images/users/avatar-1.jpg'%}" alt="" class="rounded-circle avatar-xs">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %} {% endfor %}
                        <!-- end task card -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">На проверке</h4>
                <div id="task-2">
                    <div id="test-task" class="pb-1 task-list">
                        <!-- task card -->
                        {% for task in tasks %} {% if task.status_id == 3 %}
                        <div class="card task-box" id="{{ task.id }}">
                            <div class="card-body">
                                <div class="float-end ms-2">
                                    <span class="badge rounded-pill badge-soft-warning font-size-12" id="task-status">{{ task.status }}</span>
                                </div>
                                <div>
                                    <p class="fw-bold mb-2">
                                        <a href="{% url 'tasks-updatetask' task.pk %}" class="text-dark" id="task-name">
                                            {{ task.task.title }} для компонента '{{ task.comp_title }}'
                                        </a>
                                    </p>
                                    <p class="text-muted mb-2" style="line-height: 15px;">Место отбора проб: {{ task.sampling_site.title }}</p>
                                    <p class="text-muted mb-2" style="line-height: 15px;">Установка: {{ task.plant_unit.title }}</p>
                                    <p class="text-muted mb-2">Выполнить до: {{ task.deadline }}</p>
                                </div>
                                <div class="avatar-group float-start task-assigne">
                                    <div class="avatar-group-item">
                                        <a href="javascript: void(0);" class="d-inline-block" value="member-1">
                                            <img src="{% static 'images/users/avatar-1.jpg'%}" alt="" class="rounded-circle avatar-xs">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %} {% endfor %}
                        <!-- end task card -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="float-end">
                    <select class="form-select form-select-sm ms-2">
                        <option value="MA" selected>Март</option>
                        <option value="FE">Февраль</option>
                        <option value="JA">Январь</option>
                        <option value="DE">Декабрь</option>
                    </select>
                </div>
                <h4 class="card-title mb-3">Статистика</h4>

                <div class="row">
                    <div class="col-lg-8 col-sm-6">
                        <div>
                            <div id="wallet-balance-chart" class="apex-charts"></div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 align-self-center">
                        <div>
                            <p class="mb-2"><i class="mdi mdi-circle align-middle font-size-10 me-2 text-primary"></i> Выполнено <br>в срок</p>
                            <h5>60</h5>
                        </div>

                        <div class="mt-4 pt-2">
                            <p class="mb-2"><i class="mdi mdi-circle align-middle font-size-10 me-2 text-warning"></i> Просрочено</p>
                            <h5>20</h5>
                        </div>

                        <div class="mt-4 pt-2">
                            <p class="mb-2"><i class="mdi mdi-circle align-middle font-size-10 me-2 text-info"></i> Эскалировано</p>
                            <h5>40</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end col -->
    {% include 'partials/notifications.html' %}

</div>
<!-- end row -->


{% include 'tasks/task_update.html' %}
{% endblock %}
{% block extra_javascript %}

<!--<script>-->
<!--var modalDiv = $("#modal-div");-->
<!--$(".open-modal").on("click", function() {-->
<!--  $.ajax({-->
<!--    url: $(this).attr("data-url"),-->
<!--    success: function(data) {-->
<!--      modalDiv.html(data);-->
<!--      $("#myEdit").modal();-->
<!--    }-->
<!--  });-->
<!--});-->
<!--</script>-->

<script>
//Событие клик на кнопки с классом .entity-btn-params
    $(document).on('click','.entity-btn-params',function(e){
        // Получаем урл
        var url = $(this).attr('href');
        // Загружаем данные в модальное окно
        $('.modal-content').load(url);
    })

// При закрытии окна чистим содержимое чтобы при загрузке другого окна изображение не "прыгало"
    $('#modal').on('hidden.bs.modal',function(e){
        targetModalContent.html(' ');
    });
</script>
<!-- Kanban -->
<script src="{% static 'libs/dragula/dist/dragula.min.js' %}"></script>
<script src="{% static 'libs/jquery-validation/dist/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/pages/task-kanban.init.js' %}"></script>
<script src="{% static 'js/pages/task-form.init.js' %}"></script>
<script src="{% static 'libs/toastr/build/toastr.min.js' %}"></script>
<script src="{% static 'js/pages/toastr.init.js' %}"></script>

<script src="{% static 'libs/select2/dist/js/select2.min.js'%}"></script>
<script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'%}"></script>
<script src="{% static 'libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js'%}"></script>
<script src="{% static 'libs/@chenfengyuan/datepicker/dist/datepicker.min.js'%}"></script>
<!-- form advanced init -->
<script src="{% static 'js/pages/form-advanced.init.js'%}"></script>


<!-- apexcharts -->
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>

<!-- crypto dash init js -->
<script src="{% static 'js/pages/crypto-dashboard.init.js'%}"></script>


{% endblock %}