<! -- Установка 1 -->
<div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Коэффициент упаривания
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula1.evaporation_ratio }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Транспорт кальциевой жесткости
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula1.calcium_hardness_transport }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Объем продувки
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula1.purge_volume }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Потери с испарением
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula1.evaporative_loss }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Капельный унос
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula1.drip_loss }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Несанкционированные потери
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula1.unauthorized_loss }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<! -- Установка 2 -->
<div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Коэффициент упаривания
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula2.evaporation_ratio }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Транспорт кальциевой жесткости
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula2.calcium_hardness_transport }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Объем продувки
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula2.purge_volume }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Потери с испарением
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula2.evaporative_loss }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Капельный унос
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula2.drip_loss }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Несанкционированные потери
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula2.unauthorized_loss }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<! -- Установка 3 -->
<div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Коэффициент упаривания
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula3.evaporation_ratio }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Транспорт кальциевой жесткости
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula3.calcium_hardness_transport }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Объем продувки
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula3.purge_volume }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Потери с испарением
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula3.evaporative_loss }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Капельный унос
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula3.drip_loss }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Несанкционированные потери
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula3.unauthorized_loss }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<! -- Установка 4 -->
<div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Коэффициент упаривания
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula4.evaporation_ratio }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Транспорт кальциевой жесткости
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula4.calcium_hardness_transport }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Объем продувки
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula4.purge_volume }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Потери с испарением
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula4.evaporative_loss }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Капельный унос
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula4.drip_loss }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Несанкционированные потери
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula4.unauthorized_loss }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<! -- Установка 5 -->
<div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Коэффициент упаривания
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula5.evaporation_ratio }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Транспорт кальциевой жесткости
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula5.calcium_hardness_transport }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Объем продувки
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula5.purge_volume }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Потери с испарением
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula5.evaporative_loss }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Капельный унос
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula5.drip_loss }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Несанкционированные потери
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula5.unauthorized_loss }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<! -- Установка 6 -->
<div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Коэффициент упаривания
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula6.evaporation_ratio }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Транспорт кальциевой жесткости
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula6.calcium_hardness_transport }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Объем продувки
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula6.purge_volume }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Потери с испарением
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula6.evaporative_loss }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Капельный унос
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula6.drip_loss }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted mb-4">
                        <i class="bx bx-copy-alt h2 text-warning align-middle mb-0 me-3"></i>
                        Несанкционированные потери
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <h5>{{ additional_formula6.unauthorized_loss }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>