{% load static %}

<div class="col-xl-3">
    <div class="col-xl-12" >
        <div class="card" >
            <div class="card-body">
                <div class="d-flex align-items-start" >
                    <div class="me-2">
                        <h5 class="card-title mb-4">Уведомления</h5>
                    </div>
                </div>
                <div data-simplebar class="mt-2" style="max-height: 800px;">
                    <ul class="verti-timeline list-unstyled">
                        <li class="event-list active">
                            <div class="event-timeline-dot">
                                <i class="bx bxs-right-arrow-circle font-size-18 bx-fade-right"></i>
                            </div>
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <h5 class="font-size-14">5 Янв <i
                                            class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                                    </h5>
                                </div>
                                <div class="flex-grow-1">
                                    <div>
                                        Поставлена задача
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% for task in tasks %}
                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle font-size-18"></i>
                                </div>
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <h5 class="font-size-14">
                                            {{ task.start_date|date:"d M" }}
                                            <i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                                        </h5>
                                    </div>
                                    <div class="flex-grow-1">
                                        <div>
                                            Компонент '{{ task.comp_title }}'
                                            <br>{{ task.notification }}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>

                <div class="text-center mt-4">
                    <a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light btn-sm">
                        Подробнее
                        <i class="mdi mdi-arrow-right ms-1"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- end card -->
    </div>
</div>