{% load static %}

<div class="col-lg-3">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Задачи</h4>
            <div id="task-1">
                <div id="upcoming-task" class="pb-1 task-list">
                    {% for task in tasks %}
                    <div class="card task-box" id="uptask-1">
                        <div class="card-body" data-status="">
                            <div class="float-end ms-2">
                                <span class="badge rounded-pill badge-soft-secondary font-size-12" id="task-status">{{ task.status }}</span>
                            </div>
                            <div>
                                <p class="fw-bold mb-2">
                                    <a href="javascript: void(0);" class="text-dark" id="task-name">
                                        {{ task.title }} для компонента '{{ task.comp_title }}'
                                    </a>
                                </p>
                                <p class="text-muted mb-2" style="line-height: 15px;">Место отбора проб: {{ task.sampling_site.title }}</p>
                                <p class="text-muted mb-2" style="line-height: 15px;">Установка: {{ task.plant_unit.title }}</p>
                                <p class="text-muted mb-2">Выполнить до: {{ task.deadline }}</p>
                            </div>
                            <div class="avatar-group float-start task-assigne">
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block" value="member-1">
                                        <img src="{% static 'images/users/avatar-1.jpg'%}" alt="" class="rounded-circle avatar-xs">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="text-center d-grid">
                    <a href="{% url 'tasks-kanbanboard' %}" class="btn btn-primary waves-effect waves-light addtask-btn">
                        Перейти в раздел редактирования
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>