{% load static %}

<div class="col-lg-3">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Задачи</h4>
            <div id="task-1">
                <div id="upcoming-task" class="pb-1 task-list">

                    <div class="card task-box" id="uptask-1">
                        <div class="card-body">
                            <div class="dropdown float-end">
                                <a href="#" class="dropdown-toggle arrow-none"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item edittask-details" href="#" id="taskedit"
                                       data-id="#uptask-1" data-bs-toggle="modal"
                                       data-bs-target=".bs-example-modal-lg">Редактировать</a>
                                    <a class="dropdown-item deletetask" href="#"
                                       data-id="#uptask-1">Удалить</a>
                                </div>
                            </div> <!-- end dropdown -->
                            <div class="float-end ms-2">
                                <span class="badge rounded-pill badge-soft-secondary font-size-12"
                                      id="task-status">Waiting</span>
                            </div>
                            <div>
                                <h5 class="font-size-15"><a href="javascript: void(0);"
                                                            class="text-dark"
                                                            id="task-name">Topnav layout design</a>
                                </h5>
                                <p class="text-muted mb-4">14 Oct, 2019</p>
                            </div>
                            <div class="avatar-group float-start task-assigne">
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block"
                                       value="member-4">
                                        <img src="{% static 'images/users/avatar-4.jpg'%}" alt=""
                                             class="rounded-circle avatar-xs">
                                    </a>
                                </div>
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block"
                                       value="member-5">
                                        <img src="{% static 'images/users/avatar-5.jpg'%}" alt=""
                                             class="rounded-circle avatar-xs">
                                    </a>
                                </div>
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block"
                                       value="member-6">
                                        <img src="{% static 'images/users/avatar-2.jpg'%}" alt=""
                                             class="rounded-circle avatar-xs">
                                    </a>
                                </div>
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block">
                                        <div class="avatar-xs">
                                                                <span class="avatar-title rounded-circle bg-info text-white font-size-16">
                                                                    3+
                                                                </span>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="text-end">
                                <h5 class="font-size-15 mb-1" id="task-budget">$ 145</h5>
                                <p class="mb-0 text-muted">Budget</p>
                            </div>
                        </div>

                    </div>
                    <!-- end task card -->

                    <div class="card task-box" id="uptask-2">
                        <div class="card-body">
                            <div class="dropdown float-end">
                                <a href="#" class="dropdown-toggle arrow-none"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item edittask-details" href="#" id="taskedit"
                                       data-id="#uptask-2" data-bs-toggle="modal"
                                       data-bs-target=".bs-example-modal-lg">Редактировать</a>
                                    <a class="dropdown-item deletetask" href="#"
                                       data-id="#uptask-2">Удалить</a>
                                </div>
                            </div> <!-- end dropdown -->
                            <div class="float-end ms-2">
                                <span class="badge rounded-pill badge-soft-primary font-size-12"
                                      id="task-status">Approved</span>
                            </div>
                            <div>
                                <h5 class="font-size-15"><a href="javascript: void(0);"
                                                            class="text-dark"
                                                            id="task-name">Create a New Landing
                                    UI</a></h5>
                                <p class="text-muted">15 Oct, 2019</p>
                            </div>

                            <ul class="ps-3 mb-4 text-muted" id="task-desc">
                                <li class="py-1">Separate existence is a myth.</li>
                                <li class="py-1">For music, sport, etc</li>
                            </ul>

                            <div class="avatar-group float-start task-assigne">
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block"
                                       value="member-1">
                                        <img src="{% static 'images/users/avatar-1.jpg'%}" alt=""
                                             class="rounded-circle avatar-xs">
                                    </a>
                                </div>
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block"
                                       value="member-2">
                                        <img src="{% static 'images/users/avatar-2.jpg'%}" alt=""
                                             class="rounded-circle avatar-xs">
                                    </a>
                                </div>
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block"
                                       value="member-5">
                                        <img src="{% static 'images/users/avatar-5.jpg'%}" alt=""
                                             class="rounded-circle avatar-xs">
                                    </a>
                                </div>
                            </div>
                            <div class="text-end">
                                <h5 class="font-size-15 mb-1" id="task-budget">$ 112</h5>
                                <p class="mb-0 text-muted">Budget</p>
                            </div>
                        </div>

                    </div>
                    <!-- end task card -->

                    <div class="card task-box" id="uptask-3">
                        <div class="card-body">
                            <div class="dropdown float-end">
                                <a href="#" class="dropdown-toggle arrow-none"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item edittask-details" href="#" id="taskedit"
                                       data-id="#uptask-3" data-bs-toggle="modal"
                                       data-bs-target=".bs-example-modal-lg">Редактировать</a>
                                    <a class="dropdown-item deletetask" href="#"
                                       data-id="#uptask-3">Удалить</a>
                                </div>
                            </div> <!-- end dropdown -->
                            <div class="float-end ms-2">
                                <span class="badge rounded-pill badge-soft-secondary font-size-12"
                                      id="task-status">Waiting</span>
                            </div>
                            <div>
                                <h5 class="font-size-15"><a href="javascript: void(0);"
                                                            class="text-dark"
                                                            id="task-name">Create a Skote Logo</a>
                                </h5>
                                <p class="text-muted mb-4">15 Oct, 2019</p>
                            </div>

                            <div class="avatar-group float-start task-assigne">
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block"
                                       value="member-4">
                                        <img src="{% static 'images/users/avatar-4.jpg'%}" alt=""
                                             class="rounded-circle avatar-xs">
                                    </a>
                                </div>
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block"
                                       value="member-5">
                                        <img src="{% static 'images/users/avatar-5.jpg'%}" alt=""
                                             class="rounded-circle avatar-xs">
                                    </a>
                                </div>
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block">
                                        <div class="avatar-xs">
                                                                <span class="avatar-title rounded-circle bg-danger text-white font-size-16">
                                                                    9+
                                                                </span>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="text-end">
                                <h5 class="font-size-15 mb-1" id="task-budget">$ 86</h5>
                                <p class="mb-0 text-muted">Budget</p>
                            </div>
                        </div>

                    </div>
                    <!-- end task card -->

                </div>

                <div class="text-center d-grid">
                    <a href="{% url 'ecommerce-cart' %}"
                       class="btn btn-primary waves-effect waves-light addtask-btn">Перейти в раздел
                        редактирования</a>
                </div>
            </div>
        </div>
    </div>
</div>