{% extends 'partials/base.html' %}
{% load static %}
{% block contents %}
<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Добавить пользователя</h4>

                <div id="basic-example">
                    <!-- Seller Details -->

                    <h3><b>Новый пользователь</b></h3>
                    <section>
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-firstname-input"><b>Логин</b></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                        <span class="input-group-text"
                                                              id="validationTooltipUsernamePrepend">@</span>
                                            </div>
                                            <input type="text" class="form-control" id="basicpill-firstname-input"
                                                   placeholder="Введите логин">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-email-input"><b>Email</b></label>
                                        <input id="basicpill-email-input" class="form-control input-mask"
                                               data-inputmask="'alias': 'email'">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input"><b>Пароль</b></label>
                                        <input type="password" id="basicpill-password-input" class="form-control"
                                               required
                                               placeholder="Введите пароль"/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input"><b>Повторите пароль</b></label>
                                        <input type="password" class="form-control" required
                                               data-parsley-equalto="#basicpill-password-input"
                                               placeholder="Повторите пароль"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>


                    <h3><b>Персональная информация</b></h3>
                    <section>
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-firstname-input"><b>Имя</b></label>
                                        <input type="text" class="form-control" id="basicpill-firstname-input"
                                               placeholder="Введите имя">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input"><b>Телефон</b></label>
                                        <input id="basicpill-phoneno-input" class="form-control input-mask"
                                               data-inputmask="'mask': '+7(999)-999-99-99'">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-lastname-input"><b>Фамилия</b></label>
                                        <input type="text" class="form-control" id="basicpill-lastname-input"
                                               placeholder="Введите фамилию">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-lastname-input"><b>Должность</b></label>
                                        <input type="text" class="form-control" id="basicpill-lastname-input"
                                               placeholder="Введите фамилию">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label><b>Права доступа</b></label>
                                        <select class="form-select">
                                            <option selected>Выберите..</option>
                                            <option value="AE">Статус персонала</option>
                                            <option value="VI">Статус суперпользователя</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>


                    <!-- Confirm Details -->
                    <h3><b>Подтвердить детали</b></h3>
                    <section>
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="text-center">
                                    <div class="mb-4">
                                        <i class="mdi mdi-check-circle-outline text-success display-4"></i>
                                    </div>
                                    <div>
                                        <h5><b>Проверьте правильность введенных данных</b></h5>
                                        <p class="text-muted">Нажмите кнопку "Завершить", чтобы добавить
                                            пользователя</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

{% endblock %}

{% block extra_javascript %}
<!-- jquery step -->
<script src="{% static 'libs/jquery-steps/build/jquery.steps.min.js' %}"></script>
<!-- form wizard init -->
<script src="{% static 'js/pages/form-wizard.init.js' %}"></script>


<script src="{% static 'libs/inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>
<!-- form mask init -->
<script src="{% static 'js/pages/form-mask.init.js' %}"></script>

<script src="{% static 'libs/parsleyjs/dist/parsley.min.js' %}"></script>
<!-- form validation init -->
<script src="{% static 'js/pages/form-validation.init.js' %}"></script>
{% endblock %}