{% extends 'partials/base.html' %}
{% load static %}
{% block contents %}
{% include 'partials/content.html' %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'libs/toastr/build/toastr.min.css' %}">
{% endblock extra_css %}

{% block extra_content %}
<!-- subscribeModal -->
{#<div class="modal fade bg-secondary bg-soft" data-bs-backdrop="static" id="subscribeModal" tabindex="-1"#}
{#     aria-labelledby="subscribeModalLabel" aria-hidden="true">#}
{#    <div class="modal-dialog modal-dialog-centered">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header border-bottom-0">#}
{#                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#            </div>#}
{#            <div class="modal-body">#}
{#                <div class="text-center mb-4">#}
{#                    <div class="avatar-md mx-auto mb-4">#}
{#                        <div class="avatar-title bg-light rounded-circle text-primary h1">#}
{#                            <i class="mdi mdi-account-cog"></i>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row justify-content-center">#}
{#                        <div class="col-xl-10">#}
{#                            <h4 class="text-primary"><b>Нужно сменить пароль!</b></h4>#}
{#                            <p class="text-muted font-size-14 mb-4">#}
{#                                Для защиты аккаунта, необходимо сменить пароль.#}
{#                            </p>#}
{#                            <a class="btn btn-primary" href="{% url 'account_change_password' %}">Сменить пароль</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<!-- end modal -->
{% endblock extra_content %}
{% endblock %}


{% block extra_javascript %}
<!-- toastr plugin -->
<script src="{% static 'libs/toastr/build/toastr.min.js' %}"></script>

{% endblock %}