{% extends 'partials/base.html' %}
{% load static %}


{% block contents %}
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Line with Data Labels</h4>

                <div id="line_chart_datalabel" class="apex-charts" dir="ltr"></div>
            </div>
        </div><!--end card-->
    </div>

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Spline Area</h4>

                <div id="spline_area" class="apex-charts" dir="ltr"></div>
            </div>
        </div><!--end card-->
    </div>
</div>
<!-- end row -->

<div class="col-xl-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-3">Название компонента</h4>
            <div>
                <div id="overview-chart" class="apex-charts" dir="ltr">
                    <div class="toolbar d-flex flex-wrap gap-2 justify-content-center">
                        <button type="button" class="btn btn-light btn-sm" id="one_month">
                            1 месяц
                        </button>
                        <button type="button" class="btn btn-light btn-sm" id="six_months">
                            6 месяцев
                        </button>
                        <button type="button" class="btn btn-light btn-sm active" id="one_year">
                            1 год
                        </button>
                        <button type="button" class="btn btn-light btn-sm" id="all">
                            Все время
                        </button>
                    </div>
                    <div id="overview-chart-timeline"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_javascript %}
<!-- apexcharts -->
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
<!-- apexcharts init -->
<script src="{% static 'js/pages/apexcharts.init.js' %}"></script>

<script src="{% static 'js/pages/crypto-dashboard.init.js'%}"></script>
{% endblock %}