{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
<!-- dragula css -->
<link href="{% static 'libs/dragula/dist/dragula.min.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="{% static 'libs/toastr/build/toastr.min.css' %}">

{% endblock %}
{% block contents %}

<div class="row">
    {% include 'partials/tasks.html' %}


    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="dropdown float-end">
                    <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">Редактировать</a>
                        <a class="dropdown-item" href="#">Удалить</a>
                    </div>
                </div> <!-- end dropdown -->

                <h4 class="card-title mb-4">В работе</h4>
                <div id="task-2">
                    <div id="inprogress-task" class="pb-1 task-list">
                        <!-- task card -->
                        <div class="card task-box" id="intask-3">
                            <div class="card-body">
                                <div class="dropdown float-end">
                                    <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item edittask-details" href="#" id="taskedit"
                                           data-id="#intask-3" data-bs-toggle="modal"
                                           data-bs-target=".bs-example-modal-lg">Редактировать</a>
                                        <a class="dropdown-item deletetask" href="#" data-id="#intask-3">Удалить</a>
                                    </div>
                                </div> <!-- end dropdown -->
                                <div class="float-end ms-2">
                                    <span class="badge rounded-pill badge-soft-success font-size-12" id="task-status">Complete</span>
                                </div>
                                <div>
                                    <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark"
                                                                id="task-name">Skote Dashboard UI</a></h5>
                                    <p class="text-muted mb-4">13 Oct, 2019</p>
                                </div>

                                <div class="avatar-group float-start task-assigne">
                                    <div class="avatar-group-item">
                                        <a href="javascript: void(0);" class="d-inline-block" value="member-4">
                                            <img src="{% static 'images/users/avatar-4.jpg'%}" alt=""
                                                 class="rounded-circle avatar-xs">
                                        </a>
                                    </div>
                                    <div class="avatar-group-item">
                                        <a href="javascript: void(0);" class="d-inline-block" value="member-5">
                                            <img src="{% static 'images/users/avatar-5.jpg'%}" alt=""
                                                 class="rounded-circle avatar-xs">
                                        </a>
                                    </div>
                                    <div class="avatar-group-item">
                                        <a href="javascript: void(0);" class="d-inline-block">
                                            <div class="avatar-xs">
                                                                        <span class="avatar-title rounded-circle bg-primary text-white font-size-16">
                                                                            7+
                                                                        </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="text-end">
                                    <h5 class="font-size-15 mb-1" id="task-budget">$ 94</h5>
                                    <p class="mb-0 text-muted">Budget</p>
                                </div>
                            </div>

                        </div>
                        <!-- end task card -->
                    </div>
                    <div class="text-center d-grid">
                        <a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light addtask-btn"
                           data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" data-id="#inprogress-task"><i
                                class="mdi mdi-plus me-1"></i>Добавить карточку</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->


    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="dropdown float-end">
                    <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">Редактировать</a>
                        <a class="dropdown-item" href="#">Удалить</a>
                    </div>
                </div> <!-- end dropdown -->

                <h4 class="card-title mb-4">Делегировано</h4>
                <div id="task-2">
                    <div id="delegation-task" class="pb-1 task-list">
                        <div class="card task-box" id="intask-2">
                            <div class="card-body">
                                <div class="dropdown float-end">
                                    <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item edittask-details" href="#" id="taskedit"
                                           data-id="#intask-2" data-bs-toggle="modal"
                                           data-bs-target=".bs-example-modal-lg">Редактировать</a>
                                        <a class="dropdown-item deletetask" href="#" data-id="#intask-2">Удалить</a>
                                    </div>
                                </div> <!-- end dropdown -->
                                <div class="float-end ms-2">
                                    <span class="badge rounded-pill badge-soft-warning font-size-12" id="task-status">Pending</span>
                                </div>
                                <div>
                                    <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark"
                                                                id="task-name">Create a Blog Template UI</a></h5>
                                    <p class="text-muted mb-4">13 Oct, 2019</p>
                                </div>

                                <div class="avatar-group float-start task-assigne">
                                    <div class="avatar-group-item">
                                        <a href="javascript: void(0);" class="d-inline-block" value="member-6">
                                            <img src="{% static 'images/users/avatar-6.jpg'%}" alt=""
                                                 class="rounded-circle avatar-xs">
                                        </a>
                                    </div>
                                    <div class="avatar-group-item">
                                        <a href="javascript: void(0);" class="d-inline-block" value="member-4">
                                            <img src="{% static 'images/users/avatar-4.jpg'%}" alt=""
                                                 class="rounded-circle avatar-xs">
                                        </a>
                                    </div>
                                    <div class="avatar-group-item">
                                        <a href="javascript: void(0);" class="d-inline-block" value="member-7">
                                            <img src="{% static 'images/users/avatar-7.jpg'%}" alt=""
                                                 class="rounded-circle avatar-xs">
                                        </a>
                                    </div>
                                    <div class="avatar-group-item">
                                        <a href="javascript: void(0);" class="d-inline-block">
                                            <div class="avatar-xs">
                                                                        <span class="avatar-title rounded-circle bg-info text-white font-size-16">
                                                                            3+
                                                                        </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="text-end">
                                    <h5 class="font-size-15 mb-1" id="task-budget">$ 103</h5>
                                    <p class="mb-0 text-muted">Budget</p>
                                </div>
                            </div>

                        </div>
                        <!-- end task card -->
                    </div>

                    <div class="text-center d-grid">
                        <a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light addtask-btn"
                           data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" data-id="#delegation-task"><i
                                class="mdi mdi-plus me-1"></i>Добавить карточку</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="dropdown float-end">
                    <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">Редактировать</a>
                        <a class="dropdown-item" href="#">Удалить</a>
                    </div>
                </div> <!-- end dropdown -->

                <h4 class="card-title mb-4">Выполнено</h4>
                <div id="task-3">
                    <div id="complete-task" class="pb-1 task-list">
                        <div class="card task-box" id="cmptask-1">
                            <div class="card-body">
                                <div class="dropdown float-end">
                                    <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item edittask-details" href="#" id="taskedit"
                                           data-id="#cmptask-1" data-bs-toggle="modal"
                                           data-bs-target=".bs-example-modal-lg">Редактировать</a>
                                        <a class="dropdown-item deletetask" href="#" data-id="#cmptask-1"
                                           onclick="ToastDeleted()">Удалить</a>
                                    </div>
                                </div> <!-- end dropdown -->
                                <div class="float-end ms-2">
                                    <span class="badge rounded-pill badge-soft-success font-size-12" id="task-status">Complete</span>
                                </div>
                                <div>
                                    <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark"
                                                                id="task-name">Redesign - Landing page</a></h5>
                                    <p class="text-muted mb-4">10 Oct, 2019</p>
                                </div>

                                <div class="avatar-group float-start task-assigne">
                                    <div class="avatar-group-item">
                                        <a href="javascript: void(0);" class="d-inline-block" value="member-1">
                                            <img src="{% static 'images/users/avatar-1.jpg'%}" alt=""
                                                 class="rounded-circle avatar-xs">
                                        </a>
                                    </div>
                                    <div class="avatar-group-item">
                                        <a href="javascript: void(0);" class="d-inline-block" value="member-2">
                                            <img src="{% static 'images/users/avatar-2.jpg'%}" alt=""
                                                 class="rounded-circle avatar-xs">
                                        </a>
                                    </div>
                                    <div class="avatar-group-item">
                                        <a href="javascript: void(0);" class="d-inline-block" value="member-3">
                                            <img src="{% static 'images/users/avatar-3.jpg'%}" alt=""
                                                 class="rounded-circle avatar-xs">
                                        </a>
                                    </div>
                                </div>

                                <div class="text-end">
                                    <h5 class="font-size-15 mb-1" id="task-budget">$ 145</h5>
                                    <p class="mb-0 text-muted">Budget</p>
                                </div>
                            </div>

                        </div>
                        <!-- end task card -->



                    </div>

                    <div class="text-center d-grid">
                        <a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light addtask-btn"
                           data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" data-id="#complete-task"><i
                                class="mdi mdi-plus me-1"></i>Добавить карточку</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->


<div id="modalForm" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title add-task-title">Добавить задание</h5>
                <h5 class="modal-title update-task-title" style="display: none;">Update Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="NewtaskForm" role="form">
                    <div class="form-group mb-3">
                        <label for="taskname" class="col-form-label">Название<span class="text-danger">*</span></label>
                        <div class="col-lg-12">
                            <input id="taskname" name="taskname" type="text" class="form-control validate"
                                   placeholder="Введите название..." required>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="col-form-label">Описание задания</label>
                        <div class="col-lg-12">
                            <textarea id="taskdesc" class="form-control" name="taskdesc"></textarea>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label class="col-form-label">Добавить участника<span class="text-danger">*</span></label>
                        <ul class="list-unstyled user-list validate" id="taskassignee">
                            <li>
                                <div class="form-check form-check-primary mb-2 d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox" id="member-1" name="member[]">
                                    <label class="form-check-label ms-2" for="member-1">Albert Rodarte</label>
                                    <img src="{% static 'images/users/avatar-1.jpg'%}"
                                         class="rounded-circle avatar-xs m-1" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="form-check form-check-primary mb-2 d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox" id="member-2" name="member[]">
                                    <label class="form-check-label ms-2" for="member-2">Hannah Glover</label>
                                    <img src="{% static 'images/users/avatar-2.jpg'%}"
                                         class="rounded-circle avatar-xs m-1" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="form-check form-check-primary mb-2 d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox" id="member-3" name="member[]">
                                    <label class="form-check-label ms-2" for="member-3">Adrian Rodarte</label>
                                    <img src="{% static 'images/users/avatar-3.jpg'%}"
                                         class="rounded-circle avatar-xs m-1" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="form-check form-check-primary mb-2 d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox" id="member-4" name="member[]">
                                    <label class="form-check-label ms-2" for="member-4">Frank Hamilton</label>
                                    <img src="{% static 'images/users/avatar-4.jpg'%}"
                                         class="rounded-circle avatar-xs m-1" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="form-check form-check-primary mb-2 d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox" id="member-5" name="member[]">
                                    <label class="form-check-label ms-2" for="member-5">Justin Howard</label>
                                    <img src="{% static 'images/users/avatar-5.jpg'%}"
                                         class="rounded-circle avatar-xs m-1" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="form-check form-check-primary mb-2 d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox" id="member-6" name="member[]">
                                    <label class="form-check-label ms-2" for="member-6">Michael Lawrence</label>
                                    <img src="{% static 'images/users/avatar-6.jpg'%}"
                                         class="rounded-circle avatar-xs m-1" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="form-check form-check-primary mb-2 d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox" id="member-7" name="member[]">
                                    <label class="form-check-label ms-2" for="member-7">Oliver Sharp</label>
                                    <img src="{% static 'images/users/avatar-7.jpg'%}"
                                         class="rounded-circle avatar-xs m-1" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="form-check form-check-primary mb-2 d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox" id="member-8" name="member[]">
                                    <label class="form-check-label ms-2" for="member-8">Richard Simpson</label>
                                    <img src="{% static 'images/users/avatar-8.jpg'%}"
                                         class="rounded-circle avatar-xs m-1" alt="">
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="form-group mb-4">
                        <label class="col-form-label">Статус<span class="text-danger">*</span></label>
                        <div class="col-lg-12">
                            <select class="form-select validate" id="TaskStatus" required>
                                <option value="" selected>Выбрать..</option>
                                <option value="Waiting">Ожидание заявки</option>
                                <option value="Approved">Одобренный</option>
                                <option value="Pending">В ожидании</option>
                                <option value="Complete">Заверщенный</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <button type="button" class="btn btn-primary" id="addtask">Создать задание</button>
                            <button type="button" class="btn btn-primary" id="updatetaskdetail">Обновить задание
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block extra_javascript %}
<!-- Kanban -->
<script src="{% static 'libs/dragula/dist/dragula.min.js' %}"></script>
<script src="{% static 'libs/jquery-validation/dist/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/pages/task-kanban.init.js' %}"></script>
<script src="{% static 'js/pages/task-form.init.js' %}"></script>
<script src="{% static 'libs/toastr/build/toastr.min.js' %}"></script>
<script src="{% static 'js/pages/toastr.init.js' %}"></script>
{% endblock %}