<div class="col-lg-2">
    <div class="card">
        <!-- Static Backdrop modal Button -->
        <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Modal
        </button>
        <!-- Static Backdrop Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <form action="" method="POST">
                    {% csrf_token %}

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel" style="max-width: 25em">
                                <b>{{ task.task.title }} для компонента {{ task.comp_title }}</b>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="row">
                            <div class="col-lg-7">
                                <div class="modal-body" style="margin-left: 10px">
                                    <p><b>Место отбора проб:</b> {{ task.sampling_site }}</p>
                                    <p><b>Установка:</b> {{ task.plant_unit }}</p>
                                    <div class="row">
                                        <p><b>Выполнить до: </b>{{ task.deadline }}</p>
                                        <div class="col-md-6">
                                            <input class="form-control" type="datetime-local" value="{{ task.deadline }}" name="deadline" id="id_deadline">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="id_status" class="form-label"><b>Статус</b></label>
                                        <select id="id_status" class="form-select" name="status">
                                            {% for status in statuses %}
                                                <option value="{{ status.pk }}" {% if status == task.status %}selected{% endif %}>{{ status }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="id_user" class="form-label"><b>Исполнитель</b></label>
                                        <select id="id_user" class="form-select" name="user">
                                            {% for user in users %}
                                                <option value="{{ user.pk }}" {% if user == task.user %}selected{% endif %}>{{ user }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="#" class="form-label"><b>Наблюдатель</b></label>
                                        <select id="#" class="form-select">
                                            <option selected>Выбрать..</option>
                                            <option>User 1</option>
                                            <option>User 2</option>
                                            <option>User 3</option>
                                        </select>
                                    </div>
                                <input type="submit" value="Submit">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="p-3 chat-input-section" style="margin-left: 10px">
                                    <p><b>Комментарии:</b></p>
                                    <div class="row">
                                        <div class="col-lg-1">
                                            <div class="">
                                                <div class="avatar-xs">
                                                    <div class="avatar-title rounded-circle bg-light text-primary">
                                                        <i class="bx bxs-user"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="position-relative">
                                                <input type="text" class="form-control rounded chat-input" placeholder="Введите комментарий...">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary chat-send w-md waves-effect waves-light"><span class="d-none d-sm-inline-block me-2">Отправить</span>
                                                <i class="mdi mdi-send"></i></button>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-lg-12">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item py-3">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <div class="avatar-xs">
                                                            <div class="avatar-title rounded-circle bg-light text-primary">
                                                                <i class="bx bxs-user"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <h5 class="font-size-14 mb-1">Delores Williams <small class="text-muted float-end">1 hr Ago</small></h5>
                                                        <p class="text-muted">Если несколько языков объединяются, то грамматика получается индивидуальной</p>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item py-3">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <div class="avatar-xs">
                                                            <div class="avatar-title rounded-circle bg-light text-primary">
                                                                <i class="bx bxs-user"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <h5 class="font-size-14 mb-1">Keith McCoy <small class="text-muted float-end">12 Aug</small></h5>
                                                        <p class="text-muted">Donec posuere vulputate arcu. phasellus accumsan cursus velit</p>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item py-3">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <div class="avatar-xs">
                                                            <div class="avatar-title rounded-circle bg-light text-primary">
                                                                <i class="bx bxs-user"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <h5 class="font-size-14 mb-1">Keith McCoy <small class="text-muted float-end">12 Aug</small></h5>
                                                        <p class="text-muted">Donec posuere vulputate arcu. phasellus accumsan cursus velit</p>
                                                    </div>
                                                </div>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <hr>
                                <p><b>Установка:</b> неделю назад</p>
                                <p><b>Обновлена:</b> только что</p>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>