<div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel" style="max-width: 25em; margin-left: 10px;"><b>#{{ task.id }} - {{ task.title }} для компонента {{ task.comp_title }}</b></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="row">
    <div class="col-lg-7">
        <div class="modal-body" style="margin-left: 10px" id="task_modal_body1">
            <p id="sampling_site"><b>Место отбора проб:</b> {{ task.sampling_site }}</p>
            <p id="plant_unit"><b>Установка:</b> {{ task.plant_unit }}</p>
            <div class="row">
                <div class="col-md-6">
                    <label for="id_deadline"><b>Выполнить до:</b></label>
                    <input class="form-control" type="datetime-local" name="deadline" id="id_deadline"
                           value="{{ task.deadline|date:"Y-m-d\TH:i" }}" required readonly>
                </div>
                <div class="mt-3">
                    <label for="failure_reason"><b>Причина изменения срока выполнения задачи</b></label>
                    <textarea name="failure_reason" class="form-control" id="failure_reason" minlength="20"></textarea>
                    <p><code>Для того, чтобы изменить дату, необходимо ввести 20 или более символов, далее нажав на кнопку "Сохранить"</code></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="modal-body">
            <div class="mb-3">
                <label for="id_status" class="form-label"><b>Статус</b></label>
                <select id="id_status" class="form-select" name="status">
                    {% for status in statuses %}
                        {% if status.title != 'Архив' %}
                            <option value="{{ status.pk }}" {% if status == task.status %}selected{% endif %}>{{ status }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="id_user" class="form-label"><b>Исполнитель</b></label>
                {% if request.user.is_superuser or request.user.profile.role.id == 3 or request.user.profile.role.id == 5 or request.user.profile.role.id == 6 or request.user.profile.role.id == 7 %}
                    <select id="id_user" class="form-select" name="user" required>
                        {% if not task.user %}
                            <option value="" selected>-----------</option>
                        {% endif %}
                        {% for user in users %}
                            {% if user.username != 'admin' and user.profile.role_id != 4 %}
                                <option value="{{ user.pk }}" {% if user == task.user %}selected{% endif %}>{{ user }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% else %}
                    <select id="id_user" class="form-select" name="user" disabled>
                        {% if not task.user %}
                            <option value="" selected>-----------</option>
                        {% endif %}
                        {% for user in users %}
                            {% if user.username != 'admin' and user.profile.role_id != 4 %}
                                <option value="{{ user.pk }}" {% if user == task.user %}selected{% endif %}>{{ user }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="id_task_responsible" class="form-label"><b>Ответственный</b></label>
                <p id="task_responsible">{{ task.responsible }}</p>
            </div>
            <input id="save-btn" type="submit" value="Сохранить" name="edittask" class="btn btn-primary">
        </div>
    </div>
</div>
<!-- Comments -->
<form action="{% url 'comments-add' task.id %}" id="comment-form-id" onsubmit="overlay()" method="POST">
    {% csrf_token %}
    <div class="row" id="comments_section">
        <div class="col-lg-7">
            <div class="p-3 chat-input-section" style="margin-left: 10px">
                <p><b>Комментарии:</b></p>
                <div class="row">
                    <div class="col-lg-1">
                        <div class="">
                            <div class="avatar-xs">
                                <div class="avatar-title rounded-circle bg-light text-primary">
                                    <i class="bx bxs-user"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="position-relative">
                            <input type="text" class="form-control rounded chat-input" required placeholder="Введите комментарий..."
                                   name="text" id="comment_input">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary chat-send w-md waves-effect waves-light"
                                name="add_comment_button" id="add_comment_button" data-url="{% url 'comments-add' task.pk %}">
                            <span class="d-none d-sm-inline-block me-2">Отправить</span>
                            <i class="mdi mdi-send"></i>
                        </button>
                    </div>
                </div>
                <br>
                <div class="col-lg-12" id="all_comments_div">
                    <ul class="list-group list-group-flush" id="all_comments_list">
                        {% for comment in task.comments.all|dictsortreversed:"created_at" %}
                            <li class="list-group-item py-3">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-xs">
                                            <div class="avatar-title rounded-circle bg-light text-primary">
                                                <i class="bx bxs-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h5 class="font-size-14 mb-1">{{ comment.author }} <small class="text-muted float-end">{{ comment.created_at }}</small></h5>
                                        <p class="text-muted">{{ comment.text }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <hr>
            <p><b>Дата создания:</b> {{ task.start_date }}</p>
            <p><b>Дата обновления:</b> {{ task.updated_at }}</p>
            <div class="mb-3"><b>История изменений:</b>
                {% for change in changes %}
                    <p class="mb-0">@{{ change.who_changed }} {{ change.text }} {{ change.changed_to }}</p>
                    <p class="mb-0" style="font-size: 10px; color: dimgrey;">{{ change.updated_at }}</p>
                    {% if change.failure_reason %}
                        <p class="text-muted">{{ change.failure_reason }}</p>
                    {% endif %}
                    <hr class="mt-1">
                {% endfor %}
            </div>
        </div>
    </div>
</form>
<!-- End block -->
{% block extra_javascript %}
    <script>
        $('.modal').show(function () {
            let deadline = $('#id_deadline');
            let reason = $('#failure_reason');
            reason.on('input', function () {
                if ($(this).val().length >= 20) {
                    deadline.removeAttr('readonly');
                }
                else {
                    deadline.attr('readonly', true);
                }
            });
        });

        // Отправка формы комментариев
        let comment_input = $('#comment_input');
        let all_comments = $('.list-group list-group-flush');
        $('#comment-form-id').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "comments-add" task.id %}',
                data: {
                    'comment_text': comment_input.val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                dataType: 'text',
                success: function (data) {
                    comment_input.val('')
                    setTimeout(updateDiv, 120)
                },
                error: function (e) {
                    console.log('Error:', e);
                }
             });
        });

        // Обновление части HTML без перезагрузки страницы. Не работает :(
        function updateDiv() {
            $('#all_comments_list').load(window.location.href + ' #all_comments_list');
        }

        function overlay(event){
            // event.preventDefault();
            {#console.log(">> overlay", event);#}
            document.getElementById("overlay").style.display = "block";
        }
        document.getElementById("save-btn").addEventListener('click', overlay);
        document.getElementById("comment-form-id").addEventListener('submit', overlay);
    </script>
{% endblock %}