<div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel" style="max-width: 25em; margin-left: 10px;"><b>{{ task.title }} для компонента {{ task.comp_title }}</b></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="row">
    <div class="col-lg-7">
        <div class="modal-body" style="margin-left: 10px" id="task_modal_body1">
            <p id="sampling_site"><b>Место отбора проб:</b> {{ task.sampling_site }}</p>
            <p id="plant_unit"><b>Установка:</b> {{ task.plant_unit }}</p>
            <div class="row">
                <div class="col-md-6">
                    <label for="id_deadline"><b>Выполнить до:</b></label>
                    <input class="form-control" type="datetime-local" name="deadline" id="id_deadline" value="{{ task.deadline }}">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="modal-body">
            <div class="mb-3">
                <label for="id_status" class="form-label"><b>Статус</b></label>
                <select id="id_status" class="form-select" name="status">
                    {% for status in statuses %}
                        <option value="{{ status.pk }}" {% if status == task.status %}selected{% endif %}>{{ status }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="id_user" class="form-label"><b>Исполнитель</b></label>
                <select id="id_user" class="form-select" name="user">
                    {% for user in users %}
                        <option value="{{ user.pk }}" {% if user == task.user %}selected{% endif %}>{{ user }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <p id="task_observer"></p>
            </div>
            <input type="submit" value="Сохранить" name="edittask" class="btn btn-primary">
        </div>
    </div>
</div>

<form action="{% url 'comments-add' 2 %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-8">
            <div class="p-3 chat-input-section" style="margin-left: 10px">
                <p><b>Комментарии:</b></p>
                <div class="row">
                    {# {{ form.as_p }}#}
                    <div class="col-lg-1">
                        <div class="">
                            <div class="avatar-xs">
                                <div class="avatar-title rounded-circle bg-light text-primary">
                                    <i class="bx bxs-user"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="position-relative">
                            <input type="text" class="form-control rounded chat-input" placeholder="Введите комментарий..." name="text">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary chat-send w-md waves-effect waves-light" name="add_comment_button">
                            <span class="d-none d-sm-inline-block me-2">Отправить</span>
                            <i class="mdi mdi-send"></i>
                        </button>
                    </div>
                </div>
                <br>
                <div class="col-lg-12">
                    {% for comment in task.comments.all %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item py-3">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar-xs">
                                        <div class="avatar-title rounded-circle bg-light text-primary">
                                            <i class="bx bxs-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <h5 class="font-size-14 mb-1">{{ comment.author }} <small class="text-muted float-end">{{ comment.created_at }}</small></h5>
                                    <p class="text-muted">{{ comment.text }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <hr>
            <p><b>Установка:</b> неделю назад</p>
            <p><b>Обновлена:</b> только что</p>
        </div>
    </div>
</form>